html{
  background-color: $primary-green;
  background-image: $grid-background;
  background-size: $width-unit $height-unit;
}


html.designer-page-body{
  background-color: white;
  // background-image: $grid-background-lightbg;
  // background-size: $width-unit $height-unit;
}

#grain {
  background-image: url(../imgs/GRAIN.jpg) no-repeat center center fixed;
  opacity: 0.4;
  mix-blend-mode:color-burn;
  width: 100%;
  background-size: contain;
  opacity: 0.2;
  top:0;
  left:0;
  position: absolute;
  z-index: -1;
}

//not 100% sure the video-container is necessary.
.bg-video-container{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.bg-photo-container{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  z-index: -2;

}

.bg-preview-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fieldnote-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1440;
  min-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 1440px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -720px;   /* 50% */
  }
}

#grid-overlay{
  position:absolute;
  float:left;
  min-width:100%;
  min-height:100%;
  background-color: transparent;
  background-image: $grid-background;
  background-size: $width-unit $height-unit;
  z-index: -1;
  opacity: 0.5;
}

.mini-grid{
  position:fixed;
  top: 0;
  left: 0;
  float:left;
  min-width:100%;
  min-height:100%;
  background-color: transparent;
  background-image: $grid-background;
  background-size: 1em 1em;
  z-index: -1;
  opacity: 0.5;
}

#grain-overlay{
  position: absolute;
  float: left;
  min-width:100%;
  min-height:100%;
  background-color: transparent;
  background-image: url("../../imgs/GRAIN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0.2;
}
