body .cursor__ball--big {
  display: none;
}

body .cursor {
  pointer-events: none;
}

body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  z-index: 1000;
}

body .cursor__ball.solid{
  mix-blend-mode: normal;
}

body .cursor__ball circle {
  fill: purple;
}

body.no-cursor {
  cursor: none;
}

body.dot-cursor{
  cursor: url("../../assets/images/smalldot.svg") 20 20, auto;
}

body.dot-cursor .hoverable:hover{
  cursor: url("../../assets/images/largedot.svg") 20 20, auto;
  transition: all 0.5s ease-in;
}

.play-cursor {
  cursor: url("../../assets/images/play-button.svg") 20 20, auto;
}

.play-cursor.hoveraction {
  cursor: none;
}

.pause-cursor {
  cursor: url("../../assets/images/pause-button.svg") 15 20, auto;
}

.pause-cursor.hoveraction {
  cursor: none;
}


#main-toggle>a:hover, .main-nav-list>a, .designer-dot, .experience-dot, #top-nav>a {
  cursor: none;
}
