body .cursor__ball--big {
  display: none;
}

body .cursor {
  pointer-events: none;
}

body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  z-index: 1000;
}

body .cursor__ball circle {
  fill: purple;
}
