
/*  ~~~~~~~~~~~~~~~~~~~ media queries for mobile ~~~~~~~~~~~~~~~~~~~ */
/* mobile views */

.mobile-photo-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-slider {
  width: 70%;
}

.slick-dots li{
transform: scale(0.8);
}


@media screen and (min-width: 800px)  {
  .mobile-caption, .mobile-quote {
    display: none;
  }
  .mobile-photo-container{
    display: none;
  }
  .mobile-video-slider{
    display: none;
  }
  #mobile-container{
    display: none;
  }
}

@media screen and (max-width: 800px)  {

  html{
    background-color: $primary-green;
    background-image: none;
  }
  nav#top-nav a.top-nav-item {
    color: white;
  }

  section.designer-top-section {
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    gap: 1.5em;
    width: 100%;

    #designer-toggle {
      grid-column: 2 / -2;
      margin-top: 0.5em;
      padding-bottom: 1em;

      .content-toggle {
        margin-right: 2em;
        color: $secondary-purp;
        font-family: hyperMarket;
        font-size: 3vw;
        text-transform: uppercase;
      }

      .content-toggle.active {
        border-bottom: 2px solid $secondary-purp;
      }
    }

    .designer-summary {
      grid-column: 2 / -2;
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;


      .designer-blurb {
        width: 100%; //overrides previous width;
      }
    }
  }

  .grid-layout-container {
    display: flex;
    flex-direction: column;
  }

  .mobile-container{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    #mobile-nav {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      margin: 0.5em;
      z-index: 2;
      a.nav-item {
        font-size: 0.8rem;
        font-family: hyperMarket;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        height: 1rem;
        margin: 1.5em;
      }
      a.nav-item:first-child {
        justify-self: start;
      }
    }
    #mobile-title-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      text-align: center;
      align-items: center;
      justify-content: center;
      z-index: 2000;

      h1{
        font-family: Redaction;
        font-size: 12vw;
        margin: 0;
        color: white;
      }
      h2{
        font-family: hyperMarket;
        font-size: 3.5vw;
        margin: 0;
        color: white;
      }
    }
    .blurb-container {
      height: 100vh;
    }
    .blurb-container h1{
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      height: 50vh;
      width: 90%;
      font-family: Redaction;
      font-size: 5.5vw;
      color: $secondary-purp;
      line-height: 1.85rem;
      text-align: justify;
    }
    .mobile-video-slider{
      margin: 0;
    }
    .bg-mobile-video{
      width: 100%;
      height: 100%;
      z-index: -2;
    }
  }

  #home-cal{
    display: none;
  }

  nav#top-nav{
    display: none;
  }

  .cursor{
    display: none;
  }

  #main-nav, nav#main-toggle {
    display: none;
  }

  #back-btn {
    transform: scale(1.1);
    top: 1.2em;
    left: 1.2em;
  }

  section.photo-section-8, section.photo-section-7, section.photo-section-6, section.photo-section-6-v2, section.photo-section-5, section.photo-section-4, section.photo-section-4-v2, section.photo-section-3, section.photo-section-2, section.photo-section-1, .end-caption{
    display: none;
  }

  .section-quote, .center-quote {
    display: none !important;
  }

  #scroll-down {
    display: none;
  }

  #scroll-tool{
    display: none;
  }

  section.transcript {
    display: none;
    grid-template-columns: 1fr 85% 1fr;
    gap: 1.5em;
    font-size: calc(0.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

    #transcript-container {
      grid-column: 2/-2;
      width: 100%;
      height: 90vh;
      font-family: Maison Neue;
      line-height: 125%;
      text-align: left;
    }
  }


  .video-container{
    .video-overlay{
      p{
        display: none;
      }
    }
    .video-controls{
      height: 5vh;
      bottom: 0;
      margin-bottom: 2em;
    }
  }

  .section-caption {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 70vw;
    height: 100%;
    margin:2em;
    font-size: 0.9em;
    text-align: justify;
  }

  .mobile-wrapper {
    display:block;
    justify-content: center;
    margin-top: 5vh;
  }

  .mobile-caption, .mobile-quote {
    font-size: 0.67em;
    width: 100%;
    font-family: maisonMono-Regular;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.5em;
    margin-bottom: 5%;
  }

  .mobile-caption p {
    width: 80%;
    line-height: 200%;
    text-align: justify;
  }

  .mobile-quote p {
    width: 80%;
    line-height: 200%;
    text-align: justify;
  }

  .mobile-quote p::before{
    content: '“';
    font-size: 4rem;
    font-family: redaction;
    color: $primary-green;
    position: relative;
    top: 1rem;
    left: -1rem;
    opacity: 0.75;
    padding: 0;
  }

  .mobile-photo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
}

@media screen and (min-width: 1000px)  {
  .photo-section-8, .photo-section-7, .photo-section-6, .photo-section-6-v2, .photo-section-5, .photo-section-4, .photo-section-4-v2, .photo-section-3, .photo-section-2, .photo-section-1, .end-caption {
      padding: 3em 0;
  }
}
