/* Error: Undefined variable.
 *   ,
 * 5 |   grid: repeat(13, $height-unit) 1fr / repeat(21, $width-unit);
 *   |                    ^^^^^^^^^^^^
 *   '
 *   _layouts.scss 5:20  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 5 \2502    grid: repeat(13, $height-unit) 1fr / repeat(21, $width-unit);\a   \2502                     ^^^^^^^^^^^^\a   \2575 \a   _layouts.scss 5:20  root stylesheet";
}
