@charset "UTF-8";
/* ----- fonts ------ */
@font-face {
  font-family: hyperMarket;
  src: url(../../fonts/hypermarket-regular.ttf);
  font-weight: bold;
}
/* ----- legacy fonts ------ */
@font-face {
  font-family: bebas;
  src: url(../../fonts/bebas.otf);
}
@font-face {
  font-family: brandon;
  src: url(../../fonts/brandon.otf);
}
@font-face {
  font-family: karla;
  src: url(../../fonts/karla.ttf);
}
@font-face {
  font-family: helveticaneue-bold;
  src: url(../../fonts/helveticaneue-bold.otf);
}
@font-face {
  font-family: museosans-100;
  src: url(../../fonts/museosans-100.otf);
}
@font-face {
  font-family: novecento;
  src: url(../../fonts/novecento.otf);
}
@font-face {
  font-family: katarinestd;
  src: url(../../fonts/katarinestd.otf);
}
@font-face {
  font-family: monsterrat;
  src: url(../../fonts/monsterrat.otf);
}
@font-face {
  font-family: neuehaasgroteskblack;
  src: url(../../fonts/neuehaasgroteskblack.otf);
}
/* ----- DD19 BRAND FONTS ------ */
@font-face {
  font-family: redaction;
  src: url(../../fonts/Redaction-Regular.otf);
}
@font-face {
  font-family: redaction;
  src: url(../../fonts/Redaction-Bold.otf);
  font-weight: bold;
  text-transform: capitalize;
}
@font-face {
  font-family: maisonBold;
  src: url(../../fonts/MaisonMono-Bold.otf);
}
@font-face {
  font-family: maisonMedium;
  src: url(../../fonts/MaisonNeue-Medium.ttf);
}
@font-face {
  font-family: maisonNeue-Mono;
  src: url(../../fonts/MaisonNeue-Mono.otf);
}
@font-face {
  font-family: maisonNeueExt-Mono;
  src: url(../../fonts/MaisonNeueExt-Medium.otf);
}
*, html {
  color: white;
}

a {
  text-decoration: none;
  display: block;
}

.grid-layout-container {
  display: grid;
  /* top row has adjustable space, then 13 even 6.67 vh rows*/
  /* left column has adjustable space, then 21 even 4.54 vw rows*/
  grid: repeat(13, 6.67vh) 1fr/repeat(21, 4.54vw);
  gap: none none;
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
  padding: 0px;
  border: 1px solid white;
}

.designer-video-section {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". video .";
  align-items: center;
  justify-content: center;
  background-color: #DFEA4E;
  padding-bottom: 5em;
}

.photo-section-8, .photo-section-7, .photo-section-6, .photo-section-5, .photo-section-4, .photo-section-3, .photo-section-2, .photo-section-1 {
  display: grid;
  grid-template-columns: 1fr repeat(18, 4vw) 1fr;
  gap: 1.5em;
  width: 100%;
  margin-top: 6em;
  align-items: start;
  width: 100%;
}

.photo-section-1 {
  grid-template-rows: 1fr 1fr;
}
.photo-section-1 .layout-item:first-child {
  grid-row: 1;
  grid-column: 4/13;
  width: 100%;
}
.photo-section-1 .layout-item:nth-child(2) {
  grid-row: 2;
  grid-column: 7/12;
  width: 100%;
}
.photo-section-1 .layout-item:nth-child(3) {
  grid-row: 2;
  grid-column: 12/18;
  width: 100%;
}

.photo-section-2 {
  grid-template-rows: repeat(5, 16.66vh) 1fr;
}
.photo-section-2 .layout-item:first-child {
  grid-row: 2/4;
  grid-column: 5/9;
  width: 100%;
  overflow: hidden;
}
.photo-section-2 .layout-item:first-child img {
  width: 100%;
  margin: 0;
}
.photo-section-2 .layout-item:nth-child(2) {
  grid-row: 1/3;
  grid-column: 9/13;
  height: 100%;
  overflow: hidden;
}
.photo-section-2 .layout-item:nth-child(2) img {
  width: 100%;
  margin: 0;
}
.photo-section-2 .layout-item:nth-child(3) {
  grid-row: 3/6;
  grid-column: 9/16;
  width: 100%;
}
.photo-section-2 .section-quote.type-one {
  grid-row: 2/3;
  grid-column: 12/16;
  align-self: end;
  width: 100%;
  margin-bottom: 0;
}
.photo-section-2 .section-quote.type-two {
  grid-row: 4/6;
  grid-column: 6/9;
  align-self: start;
  width: 100%;
  margin-bottom: 0;
}

.photo-section-3 {
  grid-template-rows: 1fr 1fr;
}
.photo-section-3 .layout-item:first-child {
  grid-column: 5/17;
  grid-row: 1;
  width: 100%;
}
.photo-section-3 .layout-item:nth-child(2) {
  grid-column: 4/12;
  grid-row: 2;
  width: 100%;
}
.photo-section-3 .section-quote {
  grid-column: 12/18;
  grid-row: 2;
  align-self: center;
  color: black;
}

.photo-section-4 {
  padding-bottom: 5em;
}
.photo-section-4 .layout-item:first-child {
  grid-column: 4/10;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 2em;
}
.photo-section-4 .layout-item:first-child img {
  width: 100%;
}
.photo-section-4 .layout-item:nth-child(2) {
  grid-column: 10/16;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.photo-section-4 .layout-item:nth-child(2) img {
  width: 100%;
  height: auto;
}

.photo-section-5 {
  margin-bottom: 5em;
}
.photo-section-5 .layout-item:first-child {
  grid-column: 3/9;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.photo-section-5 .layout-item:first-child img {
  width: 100%;
}
.photo-section-5 .layout-item:nth-child(2) {
  grid-column: 9/17;
  grid-row: 1;
  width: 100%;
}
.photo-section-5 .layout-item:nth-child(3) {
  grid-column: 11/17;
  grid-row: 2;
  width: 100%;
  padding-top: 2em;
}

.photo-section-6 {
  grid-template-rows: repeat(7, 1fr);
  margin-bottom: -5em;
}
.photo-section-6 .layout-item:first-child {
  grid-row: 1/4;
  grid-column: 7/11;
  width: 100%;
}
.photo-section-6 .layout-item:nth-child(2) {
  grid-row: 2/5;
  grid-column: 11/15;
  width: 100%;
}
.photo-section-6 .layout-item:nth-child(3) {
  grid-row: 4/7;
  grid-column: 5/11;
  width: 100%;
}
.photo-section-6 .section-quote {
  grid-row: 5/7;
  grid-column: 11/16;
  width: 90%;
  align-self: end;
  line-height: 150%;
}

.photo-section-7 .layout-item:first-child {
  grid-row: 1;
  grid-column: 6/13;
  width: 100%;
}
.photo-section-7 .layout-item:nth-child(2) {
  grid-row: 2;
  grid-column: 4/8;
  width: 100%;
}
.photo-section-7 .layout-item:nth-child(3) {
  grid-row: 2;
  grid-column: 8/18;
  width: 100%;
}

.photo-section-8 .layout-item:first-child {
  grid-column: 4/12;
  width: 100%;
  align-self: end;
}
.photo-section-8 .layout-item:nth-child(2) {
  grid-column: 12/16;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.photo-section-8 .layout-item:nth-child(2) img {
  width: 100%;
}

.quote-section {
  display: flex;
  flex-wrap: none;
  width: 60%;
  margin: 3em auto;
  justify-content: center;
  align-content: center;
}
.quote-section .layout-item {
  display: inline;
  margin: 0 auto;
  margin-left: 1em;
  width: 40%;
}

html {
  background-color: #DFEA4E;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em), linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em);
  background-size: 4.54vw 6.67vh;
}

html.designer-page-body {
  background-color: white;
}

#grain {
  background-image: url(../imgs/GRAIN.png) no-repeat center center fixed;
  opacity: 0.4;
  mix-blend-mode: color-burn;
  width: 100%;
  background-size: contain;
  opacity: 0.2;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.bg-video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.bg-preview-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#grid-overlay {
  position: absolute;
  float: left;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em), linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em);
  background-size: 4.54vw 6.67vh;
  z-index: -1;
  opacity: 0.5;
}

/* --------------- grid box styling-----------------------------*/
#top-nav {
  grid-row: 2;
  grid-column: 2/span 4;
  display: grid;
  grid-template-columns: repeat(3, 9.08vw);
  margin-top: 0;
}
#top-nav a.top-nav-item {
  font-size: 0.8rem;
  font-family: hyperMarket;
  font-weight: bold;
  color: #7D246B;
  text-transform: uppercase;
  height: 1rem;
  padding: 3px 0px;
}
#top-nav a.top-nav-item:hover {
  background-color: #7D246B;
  color: #DFEA4E;
}

#top-nav.hiddenUI {
  display: none;
}

/* consistently use this to hide things */
[id].hiddenUI {
  display: none;
}

#main-nav {
  grid-row: 13/span 1;
  grid-column: 7/-1;
}

.main-nav-list {
  list-style: none;
  display: grid;
  grid: repeat(4, 1fr)/repeat(5, 13.62vw);
  grid-auto-flow: column;
  padding-left: 0;
  margin-top: 0;
  font-family: hyperMarket;
}

#designer-list #wid {
  grid-row: 1/2;
  grid-column: 1/2;
}
#designer-list #reglaze {
  grid-row: 2/3;
  grid-column: 1/2;
}
#designer-list #edwin #truly #jurgen #nienke {
  grid-column: 2/3;
}
#designer-list #edwin {
  grid-row: 1/2;
}
#designer-list #truly {
  grid: -row 2/3;
}
#designer-list #jurgen {
  grid-row: 3/4;
}
#designer-list #nienke {
  grid-row: 4/5;
}
#designer-list #lex #valentin #corunum #floris {
  grid-column: 3/4;
}
#designer-list #rebecca #aldo #momkai #lava {
  grid-column: 4/5;
}
#designer-list #ineke #pepe #matthews #futures {
  grid-column: 5/6;
}

.main-nav-list.hiddenUI {
  display: none;
}

.list-navigation .main-nav-list li {
  font-size: 0.75rem;
  text-align: left;
  color: #7D246B;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.main-nav-list li:hover {
  background-color: #7D246B;
  color: white;
}

#main-toggle {
  grid-row: 13/span 1;
  grid-column: 2/span 4;
  display: grid;
  grid: 1fr/repeat(2, 9.08vw);
}

.landing-toggle {
  color: #7D246B;
  font-size: 0.8rem;
  font-family: hyperMarket;
  text-transform: uppercase;
  height: 1rem;
  padding-top: 2px;
  border: 1px solid #7D246B;
}

.landing-toggle.active {
  color: #DFEA4E;
  background-color: #7D246B;
}

/* -----------------DOTS AND VIDEO STYLING----------------- */
.fieldnote-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -1;
}

.calendar-container {
  grid-area: 5/8/11/22;
  display: grid;
  grid: repeat(6, 6.67vh)/repeat(14, 4.54vw);
  margin-top: 0;
}

.cal-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dot-headers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: end;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
#dot-headers #hover-title {
  font-family: Redaction;
  font-size: 2.25vw;
  margin: 0;
}
#dot-headers #hover-subtitle {
  font-family: hyperMarket;
  font-size: 0.85vw;
  margin: 0;
}

#dot-headers.hiddenUI {
  display: none;
}

.designer-dot {
  background-color: white;
  display: inline;
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
}

.active-dot {
  height: 2.25vw;
  width: 2.25vw;
  transition: width 0.185s cubic-bezier(0.55, 1, 0.85, 1), height 0.185s cubic-bezier(0.55, 1, 0.85, 1);
}

.dot-unhovered.designer-dot {
  background-color: transparent;
  border: 1px white solid;
}

.active-dot.nav-highlight {
  background-color: #7D246B;
}

.experience-dot {
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
}

.experience-dot.active-dot {
  height: 2.25vw;
  width: 2.25vw;
}

.dot-unhovered.experience-dot {
  background-color: transparent;
  border: 1px white solid;
}

#reglazeItem {
  grid-area: 5/14;
}

#whatItem {
  grid-area: 5/12;
}

#trulyItem {
  grid-area: 5/4;
}

#nienkeItem {
  grid-area: 5/3;
}

#jurgenItem {
  grid-area: 5/2;
}

#lexItem {
  grid-area: 5/1;
}

#edwinItem {
  grid-area: 4/6;
}

#valentinItem {
  grid-area: 4/2;
}

#florisItem {
  grid-area: 3/12;
}

#corunumItem {
  grid-area: 3/9;
}

#rebeccaItem {
  grid-area: 3/6;
}

#aldoItem {
  grid-area: 2/11;
}

#lavaItem {
  grid-area: 2/10;
}

#momkaiItem {
  grid-area: 2/9;
}

#inekeItem {
  grid-area: 2/7;
}

#pepeItem {
  grid-area: 2/6;
}

#matthewsItem {
  grid-area: 1/8;
}

#futuresItem {
  grid-area: 1/7;
}

#arnhemItem {
  grid-area: 2/1;
}

#romeItem {
  grid-area: 2/3;
}

#appianItem {
  grid-area: 2/7;
}

#andreaItem {
  grid-area: 2/13;
}

#farmItem {
  grid-area: 2/14;
}

#texelsItem {
  grid-area: 3/1;
}

#burgundyItem {
  grid-area: 3/3;
}

#feltingItem {
  grid-area: 3/4;
}

#milkItem {
  grid-area: 3/11;
}

#breweryItem {
  grid-area: 3/14;
}

#kikiItem {
  grid-area: 4/1;
}

#rensItem {
  grid-area: 4/10;
}

#atelierItem {
  grid-area: 4/14;
}

#btsItem {
  grid-area: 5/7;
}

/* ----------------- DESIGNER PAGE SPECIFIC---------------------- */
.video-container {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: white;
  overflow: hidden;
  top: 0;
}
.video-container .embed-container {
  position: relative;
  padding-bottom: 54.25%;
  top: -1vh;
  overflow: hidden;
  max-width: 100%;
}
.video-container .embed-container iframe, .video-container .embed-container object,
.video-container .embed-container embed, .video-container .embed-container video {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-container .video-overlay {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.video-container .video-overlay h1 {
  font-size: 5vw;
  font-family: redaction;
  margin-bottom: 2%;
  color: white;
}
.video-container .video-overlay p {
  font-size: 1vw;
  font-family: maisonNeue-Mono;
  width: 50%;
  margin: 0;
  color: white;
}
.video-container .video-controls {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  bottom: 9vh;
  background: linear-gradient(0deg, lightgrey, transparent);
  width: 100%;
  height: 8vh;
}
.video-container .video-controls .progress {
  position: relative;
  width: 94%;
  height: 10px;
  right: 3%;
  left: 3%;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
}
.video-container .video-controls .progress .vidbar {
  position: absolute;
  background-color: purple;
  height: 10px;
  width: 0%;
}
.video-container .video-controls .timeblock {
  align-self: flex-start;
  margin-top: none;
}
.video-container .video-controls .timeblock div {
  display: inline-block;
  font-family: Maison Neue;
  font-size: 0.75em;
  color: #7D246B;
}
.video-container .video-controls .vid-buttons {
  align-self: flex-start;
  margin-left: 3%;
  width: 6%;
}
.video-container .video-controls .vid-buttons button {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #7D246B;
  font-family: hyperMarket;
  font-size: 0.75em;
  text-transform: uppercase;
}
.video-container .video-controls .vid-buttons button.play:before {
  content: "PLAY";
  text-transform: capitalize;
}
.video-container .video-controls .vid-buttons button.pause:after {
  content: "PAUSE";
  text-transform: capitalize;
}
.video-container .video-controls .vid-buttons.fs {
  margin-left: auto;
  margin-right: 3%;
}

.play-cursor {
  cursor: url(../../assets/images/play.png), auto;
}

.pause-cursor {
  cursor: url(../../assets/images/pause.png), auto;
}

.designer-tagline {
  font-family: hyperMarket;
  font-size: 0.75em;
  margin-bottom: 0;
  text-transform: uppercase;
}

.designer-name {
  font-family: Redaction;
  font-size: 5em;
  margin: 0 auto;
  text-transform: uppercase;
}

.designer-blurb {
  font-family: Maison Neue;
  font-size: 0.8em;
  line-height: 125%;
  width: 60%;
}

.shown-item {
  opacity: 0;
}

.shown-item.visible {
  opacity: 1;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.shown-item.visible-slow {
  opacity: 1;
  -webkit-transition: all 0.45s ease-in;
  -moz-transition: all 0.45s ease-in;
  -ms-transition: all 0.45s ease-in;
  -o-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

.designer-top-section {
  display: grid;
  grid-template-columns: 1fr repeat(16, 4vw) 1fr;
  gap: 1.5em;
  width: 100%;
}
.designer-top-section #designer-toggle {
  grid-column: 3/span 14;
  margin-left: -1em;
  margin-top: 2em;
  padding-bottom: 2em;
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #e1e1e1;
}
.designer-top-section #designer-toggle .content-toggle {
  margin-right: 2em;
  color: #7D246B;
  font-family: hyperMarket;
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 0.25em;
}
.designer-top-section #designer-toggle .content-toggle.active {
  border-bottom: 2px solid #7D246B;
}
.designer-top-section .designer-summary {
  grid-column: 3/span 14;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.designer-top-section .designer-summary .black-txt {
  color: black;
}
.designer-top-section .designer-summary .designer-blurb {
  width: 65%;
}

.fullbleed {
  width: 100%;
  height: auto;
  background-color: salmon;
  margin-top: 5em;
}

.designer-footer {
  display: flex;
  flex-direction: column;
  margin: 2em 10%;
  text-transform: uppercase;
}
.designer-footer p {
  font-family: maisonNeue-Mono;
  font-size: 0.75rem;
  color: black;
  display: inline;
  margin-bottom: 0.25rem;
  line-height: 125%;
}
.designer-footer a {
  font-family: hyperMarket;
  font-size: 0.75rem;
  color: #7D246B;
  display: inline;
  margin-bottom: 2rem;
}
.designer-footer a:hover {
  text-decoration: underline;
}

.scroll-util {
  position: fixed;
  bottom: 10%;
  right: 4%;
  z-index: 1;
}
.scroll-util svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.scroll-util svg path {
  transform: scale(-1, 1) rotate(90deg);
  transform-origin: 50% 50%;
}
.scroll-util .inner-util {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  color: black;
  text-align: center;
  font-family: hyperMarket;
}
.scroll-util .inner-util:hover {
  text-decoration: underline;
  cursor: pointer;
}

.section-quote {
  font-size: 0.9em;
  font-family: maisonNeue-Mono;
  color: black;
  line-height: 150%;
}

.section-quote::before {
  content: "“";
  font-size: 4rem;
  font-family: redaction;
  color: #DFEA4E;
  position: relative;
  top: 1rem;
  left: -1rem;
  opacity: 0.75;
  padding: 0;
}

.section-caption {
  font-family: maisonNeue-Mono;
  font-size: 0.75em;
  font-weight: lighter;
  line-height: 150%;
  color: grey;
}

#nienkequote {
  display: inline-block;
  float: right;
  margin-right: 8%;
  padding-bottom: 5em;
}

#lottequote {
  display: block;
  width: 40%;
  margin: auto 0 auto 45%;
  padding: 5em 0;
}

#lottequote2 {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding: 5em 0;
}

/*# sourceMappingURL=main.css.map */
