$width-unit: 4.54vw;
$height-unit: 6.67vh;
$grid-background: linear-gradient(rgba(255, 255, 255, .8) .01em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, .8) .01em, transparent .1em);
$grid-background-lightbg: linear-gradient(rgba(223, 234, 78, .7) .01em, transparent .1em), linear-gradient(90deg, rgba(223, 234, 78, .7) .01em, transparent .1em);
$primary-green: #DFEA4E;
$secondary-purp: #7D246B;
@import './1-helpers/fonts';
@import './2-modules/layouts';
@import './2-modules/background';

*,
html {
  color: black;
}

h1.title {
  display: inline-block;
  margin: 50px;
}
/* ---------------- Links and cursor styling -------------------------- */
a {
  text-decoration: none;
  display: block;
}

a#imgHover {
  display: inline;
}

.active {
  border-bottom: 2px solid purple;
}

*.hiddenUI {
  display: none !important;
}

#back-btn {
  position: fixed;
  display: block;
  top: 1em;
  left: 1em;
  width: 10vw;
  color: $secondary-purp;
  z-index: 1;

  p {
    display: none;
    font-family: hyperMarket;
    font-size: 0.9em;
    text-transform: uppercase;
  }
}

#back-btn:hover #home-text {
  color: purple;
  display: inline-block;
  float: right;
}

.home-dot {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

#back-btn:hover .home-dot {
  background-color: purple;
}

body .cursor__ball--big {
  display: none;
}

body .cursor {
  pointer-events: none;
}

body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: overlay;
  z-index: 1000;
}

body .cursor__ball circle {
  fill: purple;
}
/* --------------- grid box styling-----------------------------*/
#top-nav {
  grid-row: 2;
  grid-column: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(3, 2*$width-unit);
  margin-top: 0;

  a.top-nav-item {
    font-size: 0.8rem;
    font-family: hyperMarket;
    font-weight: bold;
    color: $secondary-purp;
    text-transform: uppercase;
    height: 1rem;
    padding: 3px 0;
  }

  a.top-nav-item:hover {
    background-color: $secondary-purp;
    color: $primary-green;
  }
}

#main-nav {
  grid-row: 13 / span 1;
  grid-column: 7 / -1;
}

.main-nav-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  font-family: hyperMarket;
}

#designer-list {
  display: grid;
  grid: repeat(4, 1fr) / repeat(5, 3*$width-unit);
  grid-auto-flow: column;

  #wid {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  #reglaze {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  #edwin #truly #jurgen #nienke {
    grid-column: 2/3;
  }

  #edwin {
    grid-row: 1/2;
  }

  #truly {
    grid: -row 2/3;
  }

  #jurgen {
    grid-row: 3/4;
  }

  #nienke {
    grid-row: 4/5;
  }

  #lex #valentin #corunum #floris {
    grid-column: 3/4;
  }

  #rebecca #aldo #momkai #lava {
    grid-column: 4/5;
  }

  #ineke #pepe #matthews #futures {
    grid-column: 5/6;
  }
}

#fnotes-list {
  display: grid;
  grid: repeat(3, 1fr) / repeat(5, 3*$width-unit);
  grid-auto-flow: column;
}

.main-nav-list.hiddenUI {
  display: none;
}

.list-navigation .main-nav-list li {
  font-size: 0.75rem;
  text-align: left;
  color: $secondary-purp;
  text-transform: uppercase;
  padding: 0.3rem 0.2rem;
}

.main-nav-list li:hover {
  background-color: $secondary-purp;
  color: $primary-green;
}

#main-toggle {
  grid-row: 13 / span 1;
  grid-column: 2 / span 4;
  display: grid;
  grid: 1fr / repeat(2, 2*$width-unit);
}

.landing-toggle {
  color: $secondary-purp;
  font-size: 0.8rem;
  font-family: hyperMarket;
  text-transform: uppercase;
  height: 1rem;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  border: 1px solid $secondary-purp;
}

.landing-toggle.active {
  color: $primary-green;
  background-color: $secondary-purp;
}
/* -----------------DOTS AND VIDEO STYLING----------------- */
.blurb-container {
  grid-area: 4 / 8 / 10/ 22;
  justify-content: grid-start;

  h1 {
    font-family: Redaction;
    font-size: 2.25vw;
    color: $secondary-purp;
    line-height: 125%;
    letter-spacing: 0.035em;
    text-align: justify;
    margin-top: 0;
  }
}

.fieldnote-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -1;
}

.calendar-container {
  grid-area: 5 / 8 / 11/ 22;
  display: grid;
  grid: repeat(6, $height-unit)/repeat(14, $width-unit);
  margin-top: 0;
}

.cal-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dot-headers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: end;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;

  #hover-title {
    font-family: Redaction;
    font-size: 2.25vw;
    margin: 0;
    color: white;
  }

  #hover-subtitle {
    font-family: hyperMarket;
    font-size: 0.85vw;
    margin: 0;
    color: white;
  }
}

#dot-headers.hiddenUI {
  display: none;
}

.designer-dot {
  background-color: white;
  display: inline;
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
}

.active-dot {
  height: 2.25vw;
  width: 2.25vw;
  transition: width 0.185s cubic-bezier(.55,1,.85,1), height 0.185s cubic-bezier(.55,1,.85,1);
  transition-delay: 0.1s;
}

.dot-unhovered.designer-dot {
  background-color: transparent;
  border: 1px white solid;
}

.active-dot.nav-highlight {
  background-color: $secondary-purp;
}

.experience-dot {
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
}

.experience-dot.active-dot {
  height: 2.25vw;
  width: 2.25vw;
}

.dot-unhovered.experience-dot {
  background-color: transparent;
  border: 1px white solid;
}

#reglazeItem {
  grid-area: 5/14;
}

#whatItem {
  grid-area: 5/12;
}

#trulyItem {
  grid-area: 5/4;
}

#nienkeItem {
  grid-area: 5/3;
}

#jurgenItem {
  grid-area: 5/2;
}

#lexItem {
  grid-area: 5/1;
}

#edwinItem {
  grid-area: 4/6;
}

#valentinItem {
  grid-area: 4/2;
}

#florisItem {
  grid-area: 3/12;
}

#corunumItem {
  grid-area: 3/9;
}

#rebeccaItem {
  grid-area: 3/6;
}

#aldoItem {
  grid-area: 2/11;
}

#lavaItem {
  grid-area: 2/10;
}

#momkaiItem {
  grid-area: 2/9;
}

#inekeItem {
  grid-area: 2/7;
}

#pepeItem {
  grid-area: 2/6;
}

#matthewsItem {
  grid-area: 1/8;
}

#futuresItem {
  grid-area: 1/7;
}

#arnhemItem {
  grid-area: 2/1;
}

#romeItem {
  grid-area: 2/3;
}

#appianItem {
  grid-area: 2/7;
}

#andreaItem {
  grid-area: 2/13;
}

#farmItem {
  grid-area: 2/14;
}

#texelsItem {
  grid-area: 3/1;
}

#burgundyItem {
  grid-area: 3/3;
}

#feltingItem {
  grid-area: 3/4;
}

#milkItem {
  grid-area: 3/11;
}

#breweryItem {
  grid-area: 3/14;
}

#kikiItem {
  grid-area: 4/1;
}

#rensItem {
  grid-area: 4/10;
}

#atelierItem {
  grid-area: 4/14;
}

#btsItem {
  grid-area: 5/7;
}
/* ----------------- DESIGNER PAGE SPECIFIC---------------------- */
.video-container {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: white;
  overflow: hidden;
  top: 0;

  .embed-container {
    position: relative;
    padding-bottom: 54.25%;
    // overflow: hidden;
    max-width: 100%;

    embed,
    iframe,
    object,
    video {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .scroll-hint{
    position: absolute;
    display: block;
    bottom: 13vh;
    width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    p{
      margin: 0 auto;
      padding-bottom: 6px;
      font-family: maisonNeue-Mono;
      text-transform: uppercase;
      font-size: 0.75em;
      color: white;
    }
  }

  .video-overlay {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 5.5vw;
      font-family: redaction;
      color: white;
    }

    p {
      font-size: 1vw;
      font-family: maisonNeue-Mono;
      width: 50%;
      margin: 0;
      color: white;
    }
  }

  .video-controls {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    bottom: 6vh;
    background: rgb(15,15,5);
    width: 100%;
    height: 6vh;
    cursor: pointer;

    .progress {
      position: absolute;
      width: 100%;
      height: 9px;
      background-color: rgb(255,255,255,0.8);
      margin-bottom: 10px;
      top: 0;

      .vidbar {
        position: absolute;
        background-color: purple;
        height: 9px;
        width: 0;
      }
    }

    .timeblock {
      margin-top: 5px;

      div {
        display: inline-block;
        font-family: Maison Neue;
        font-size: 0.75em;
        color: $primary-green;
      }

      span {
        color: $primary-green;
      }
    }

    .vid-buttons {
      margin-top: 5px;
      margin-left: 2%;
      width: 6%;

      button {
        background: none;
        border: 0;
        outline: none;
        cursor: pointer;
        color: $primary-green;
        font-family: Maison Neue;
        font-size: 0.75em;
        text-transform: uppercase;
      }

      button.play:before {
        content: "PLAY";
        text-transform: capitalize;
      }

      button.pause:after {
        content: "PAUSE";
        text-transform: capitalize;
      }
    }

    .vid-buttons.fs {
      margin-left: auto;
      margin-right: 2%;
    }
  }
}

.play-cursor {
  cursor: url("../../assets/images/play.png") 20 20, auto;
}

.play-cursor.hoveraction {
  cursor: none;
}

.pause-cursor {
  cursor: url("../../assets/images/pause.png") 15 20, auto;
}

.pause-cursor.hoveraction {
  cursor: none;
}

.designer-tagline {
  font-family: hyperMarket;
  font-size: 0.75em;
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
}

.designer-name {
  font-family: Redaction;
  font-size: 5em;
  margin: 0;
  text-transform: uppercase;
}

.designer-blurb {
  font-family: Maison Neue;
  font-size: 0.8em;
  line-height: 150%;
  width: 60%;
}

#video-fig:fullscreen {
  background-color: black;
  .scroll-hint{
    display: none;
  }
  .embed-container {
    position: relative;
    padding-bottom: 70.25%;
  }

  .video-overlay {
    top: 40%;
  }

  .video-controls {
    position: fixed;
    bottom: 0;
  }
}

#video-fig:fullscreen .video-controls.hoveraction {
  transform: translateY(6vh);
}

.shown-item {
  opacity: 0;
}

.invis-item{
  visibility: hidden;
}

.invis-item.visible{
  visibility: visible;
}

.shown-item.visible {
  opacity: 1;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.shown-item.visible-slow {
  opacity: 1;
  -webkit-transition: all 0.45s ease-in;
  -moz-transition: all 0.45s ease-in;
  -ms-transition: all 0.45s ease-in;
  -o-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

.designer-top-section {
  display: grid;
  grid-template-columns: 1fr repeat(18, 4vw) 1fr;
  gap: 1.5em;
  width: 100%;

  #designer-toggle {
    grid-column: 3 / -4;
    margin-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid rgb(225,225,225);

    .content-toggle {
      margin-right: 2em;
      color: $secondary-purp;
      font-family: hyperMarket;
      font-size: 1em;
      text-transform: uppercase;
      padding-bottom: 0.25em;
    }

    .content-toggle.active {
      border-bottom: 2px solid $secondary-purp;
    }
  }

  .designer-summary {
    grid-column: 3 / -4;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;

    .black-txt {
      color: black;
    }

    .designer-tagline {
      margin-bottom: 1em;
    }

    .designer-blurb {
      width: 60%; //overrides previous width;
      line-height: 170%;
      color: grey;
      margin-top: 2em;
    }
  }
}

.fullbleed {
  width: 100%;
  min-height: 300px;
  height: auto; //placeholder, should be auto
  background-color: salmon;
  margin-top: 6em;
}

.designer-footer {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 2em 10%;
  text-transform: uppercase;
  bottom: 0;

  p {
    font-family: maisonNeue-Mono;
    font-size: 0.75rem;
    color: black;
    display: inline;
    margin-bottom: 0.25rem;
    line-height: 125%;
  }

  a {
    font-family: hyperMarket;
    font-size: 0.75rem;
    color: $secondary-purp;
    display: inline;
    margin-bottom: 2rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

.scroll-util {
  position: fixed;
  bottom: 10%;
  right: 4%;
  z-index: 1;
  cursor: pointer;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    #scroll-progress {
      transform: scale(-1, 1) rotate(90deg);
      transform-origin: 50% 50%;
    }
  }

  .inner-util {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    font-size: 0.75rem;
    color: $secondary-purp;
    text-align: center;
    font-family: hyperMarket;
  }

  .inner-util:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.section-quote {
  font-size: 0.9em;
  font-family: maisonNeue-Mono;
  color: black;
  line-height: 150%;
}

.section-quote::before {
  content: '“';
  font-size: 4rem;
  font-family: redaction;
  color: $primary-green;
  position: relative;
  top: 1rem;
  left: -1rem;
  opacity: 0.75;
  padding: 0;
}

.section-caption {
  font-family: maisonNeue-Mono;
  font-size: 0.75em;
  font-weight: lighter;
  line-height: 150%;
  color: grey;
}

#nienkequote {
  display: inline-block;
  float: right;
  margin-right: 8%;
  padding-bottom: 5em;
}

#lottequote {
  display: block;
  width: 40%;
  margin: auto 0 auto 45%;
  padding: 5em 0;
}

.center-quote {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding: 5em 0;
}

#inekequote {
  width: 46%;
}

#aldoquote2 {
  margin-top: -5em;
}
/*---------- transcripts ------------- */
.transcript {
  display: grid;
  grid-template-columns: repeat(17, $width-unit) 1fr;
  gap: 1.5em;
  display: none;
  font-size: calc(0.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

#transcript-container {
  grid-column: 3/span 12;
  width: 100%;
  height: 90vh;
  font-family: Maison Neue;
  line-height: 125%;
  text-align: left;

  p:last-child {
    margin-bottom: 6vh;
  }
}

p span {
  background-color: $primary-green;
  color: black;
}

#transcript-container h3 {
  font-size: 1.5em;
  background-color: $primary-green;
  width: 30%;
  color: $secondary-purp;
  font-family: hyperMarket;
  text-transform: uppercase;
}

h3#intro {
  color: black;
  font-size: 1.5em;
  background-color: white;
}

h3#keyword {
  border: 2px solid red;
}

span:hover {
  cursor: pointer;
}
@keyframes loop {
  0% {
    transform-origin: 0 50%;
    transform: scale3d(0, 1, 1);
  }

  50% {
    transform-origin: 0 50%;
    transform: scale3d(1, 1, 1);
  }

  51% {
    transform-origin: 100% 50%;
  }

  100% {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
  }
}

.hover-reveal {
  position: fixed;
  width: 200px;
  height: 150px;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.hover-reveal__img,
.hover-reveal__inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
}

.hover-reveal__img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
