@charset "UTF-8";
/* ----- fonts ------ */
@font-face {
  font-family: hyperMarket;
  src: url(../../fonts/hypermarket-regular.ttf);
  font-weight: bold;
}
/* ----- legacy fonts ------ */
@font-face {
  font-family: bebas;
  src: url(../../fonts/bebas.otf);
}
@font-face {
  font-family: brandon;
  src: url(../../fonts/brandon.otf);
}
@font-face {
  font-family: karla;
  src: url(../../fonts/karla.ttf);
}
@font-face {
  font-family: helveticaneue-bold;
  src: url(../../fonts/helveticaneue-bold.otf);
}
@font-face {
  font-family: museosans-100;
  src: url(../../fonts/museosans-100.otf);
}
@font-face {
  font-family: novecento;
  src: url(../../fonts/novecento.otf);
}
@font-face {
  font-family: katarinestd;
  src: url(../../fonts/katarinestd.otf);
}
@font-face {
  font-family: monsterrat;
  src: url(../../fonts/monsterrat.otf);
}
@font-face {
  font-family: neuehaasgroteskblack;
  src: url(../../fonts/neuehaasgroteskblack.otf);
}
/* ----- DD19 BRAND FONTS ------ */
@font-face {
  font-family: redaction-regular;
  src: url(../../fonts/Redaction-Regular.otf);
}
@font-face {
  font-family: Redaction;
  src: url(../../fonts/Redaction-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: maisonBold;
  src: url(../../fonts/MaisonMono-Bold.otf);
}
@font-face {
  font-family: maisonMedium;
  src: url(../../fonts/MaisonNeue-Medium.ttf);
}
@font-face {
  font-family: maisonNeue-Mono;
  src: url(../../fonts/MaisonNeue-Mono.otf);
}
@font-face {
  font-family: "Maison Neue";
  src: url(../../fonts/MaisonNeue-Mono.otf);
}
@font-face {
  font-family: maisonNeueExt-Mono;
  src: url(../../fonts/MaisonNeueExt-Medium.otf);
}
@font-face {
  font-family: maisonMono-Regular;
  src: url(../../fonts/MaisonMono-Regular.otf);
}
.grid-layout-container {
  display: grid;
  /* top row has adjustable space, then 13 even 6.67 vh rows*/
  /* left column has adjustable space, then 21 even 4.54 vw rows*/
  grid: repeat(13, 6.67vh) 1fr/repeat(21, 4.54vw);
  gap: none none;
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
  padding: 0px;
}

.designer-video-section {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". video .";
  align-items: center;
  justify-content: center;
  background-color: #DFEA4E;
  padding-bottom: 4em;
}

.photo-section-8, .photo-section-7, .photo-section-6, .photo-section-5, .photo-section-4, .photo-section-3, .photo-section-2, .photo-section-1 {
  display: grid;
  grid-template-columns: 1fr repeat(18, 4vw) 1fr;
  gap: 1.5em;
  width: 100%;
  align-items: start;
  width: 100%;
}
.photo-section-8 figure, .photo-section-7 figure, .photo-section-6 figure, .photo-section-5 figure, .photo-section-4 figure, .photo-section-3 figure, .photo-section-2 figure, .photo-section-1 figure {
  position: relative;
  width: 100%;
  margin: 0;
}
.photo-section-8 figure img, .photo-section-7 figure img, .photo-section-6 figure img, .photo-section-5 figure img, .photo-section-4 figure img, .photo-section-3 figure img, .photo-section-2 figure img, .photo-section-1 figure img, .photo-section-8 figure video, .photo-section-7 figure video, .photo-section-6 figure video, .photo-section-5 figure video, .photo-section-4 figure video, .photo-section-3 figure video, .photo-section-2 figure video, .photo-section-1 figure video {
  width: 100%;
}
.photo-section-8 figcaption, .photo-section-7 figcaption, .photo-section-6 figcaption, .photo-section-5 figcaption, .photo-section-4 figcaption, .photo-section-3 figcaption, .photo-section-2 figcaption, .photo-section-1 figcaption {
  position: absolute;
  text-align: right;
  right: 0;
  font-family: maisonNeue-Mono;
  font-size: 0.65em;
  text-transform: uppercase;
}

.photo-section-1 {
  grid-template-rows: 1fr 1fr;
}
.photo-section-1 .layout-item:first-child {
  grid-row: 1;
  grid-column: 4/13;
  width: 100%;
}
.photo-section-1 .layout-item:nth-child(2) {
  grid-row: 2;
  grid-column: 7/12;
  width: 100%;
}
.photo-section-1 .layout-item:nth-child(3) {
  grid-row: 2;
  grid-column: 12/18;
  width: 100%;
}
.photo-section-1 #caption0 {
  grid-row: 1;
  grid-column: 13/16;
  align-self: end;
  width: 100%;
}
.photo-section-1 #physical {
  grid-column: 6/11;
}
.photo-section-1 #digital {
  grid-column: 11/17;
  width: 125%;
}

.photo-section-2 {
  grid-template-rows: repeat(5, 16.66vh) 1fr;
  margin-bottom: 2rem;
}
.photo-section-2 .layout-item:first-child {
  grid-row: 2/4;
  grid-column: 5/9;
  width: 100%;
  overflow: hidden;
}
.photo-section-2 .layout-item:first-child img {
  width: 100%;
  margin: 0;
}
.photo-section-2 .layout-item:nth-child(2) {
  grid-row: 1/3;
  grid-column: 9/13;
  height: 100%;
  overflow: hidden;
}
.photo-section-2 .layout-item:nth-child(2) video {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  margin: 0;
}
.photo-section-2 .layout-item:nth-child(2) img {
  width: 100%;
  margin: 0;
}
.photo-section-2 .layout-item:nth-child(3) {
  grid-row: 3/6;
  grid-column: 9/17;
  width: 100%;
}
.photo-section-2 .section-quote.type-one {
  grid-row: 2/3;
  grid-column: 12/16;
  align-self: end;
  width: 100%;
  margin-bottom: 0;
}
.photo-section-2 .section-quote.type-two {
  grid-row: 4/5;
  grid-column: 4/9;
  align-self: start;
  width: 100%;
  margin-bottom: 0;
}

.photo-section-3 {
  grid-template-rows: 1fr 1fr;
}
.photo-section-3 .layout-item:first-child {
  grid-column: 5/17;
  grid-row: 1;
  width: 100%;
}
.photo-section-3 .layout-item:nth-child(2) {
  grid-column: 4/12;
  grid-row: 2;
  width: 100%;
}
.photo-section-3 .section-quote {
  grid-column: 12/18;
  grid-row: 2;
  align-self: center;
  color: black;
}
.photo-section-3 #museums1, .photo-section-3 #museums2 {
  outline: 3px solid white;
  outline-offset: -3px;
}

.photo-section-4 .layout-item:first-child {
  grid-column: 4/10;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 2em;
}
.photo-section-4 .layout-item:first-child img {
  width: 100%;
}
.photo-section-4 .layout-item:nth-child(2) {
  grid-column: 10/17;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.photo-section-4 .layout-item:nth-child(2) img {
  width: 100%;
  height: auto;
}

.photo-section-5 {
  margin-bottom: 5em;
}
.photo-section-5 .layout-item:first-child {
  grid-column: 4/10;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.photo-section-5 .layout-item:first-child img {
  width: 100%;
}
.photo-section-5 .layout-item:nth-child(2) {
  grid-column: 10/18;
  grid-row: 1;
  width: 100%;
  align-self: end;
}
.photo-section-5 .layout-item:nth-child(2) img {
  width: 100%;
}
.photo-section-5 .layout-item:nth-child(3) {
  grid-column: 12/18;
  grid-row: 2;
  width: 100%;
  padding-top: 2em;
}

.photo-section-6 {
  grid-template-rows: repeat(7, 1fr);
  margin-bottom: -5em;
}
.photo-section-6 .layout-item:first-child {
  grid-row: 1/4;
  grid-column: 7/11;
  width: 100%;
}
.photo-section-6 .layout-item:nth-child(2) {
  grid-row: 2/5;
  grid-column: 11/15;
  width: 100%;
}
.photo-section-6 .layout-item:nth-child(3) {
  grid-row: 4/7;
  grid-column: 5/11;
  width: 100%;
}
.photo-section-6 .section-quote {
  grid-row: 5/7;
  grid-column: 11/16;
  width: 90%;
  align-self: end;
  line-height: 150%;
}
.photo-section-6 .section-caption {
  grid-row: 2/4;
  grid-column: 4/7;
  width: 100%;
  align-self: end;
}
.photo-section-6 #oncodevid {
  grid-row: 3/6;
  grid-column: 11/17;
  height: 100%;
}

.photo-section-7 .layout-item:first-child {
  grid-row: 1;
  grid-column: 6/13;
  width: 100%;
}
.photo-section-7 .layout-item:nth-child(2) {
  grid-row: 2;
  grid-column: 4/8;
  width: 100%;
  height: 100%;
}
.photo-section-7 .layout-item:nth-child(3) {
  grid-row: 2;
  grid-column: 8/17;
  width: 100%;
}
.photo-section-7 .layout-item:nth-child(3) img {
  width: 100%;
}
.photo-section-7 #fogocaption {
  grid-row: 1;
  grid-column: 13/18;
  width: 100%;
  align-self: end;
}

.photo-section-8 .layout-item:first-child {
  grid-column: 4/12;
  width: 100%;
  align-self: end;
}
.photo-section-8 .layout-item:nth-child(2) {
  grid-column: 12/16;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.photo-section-8 .layout-item:nth-child(2) img {
  width: 100%;
}

.quote-section {
  display: flex;
  flex-wrap: none;
  width: 60%;
  margin: 3em auto;
  justify-content: center;
  align-content: center;
}
.quote-section .layout-item {
  display: inline;
  margin: 0 auto;
  margin-left: 1em;
  width: 40%;
}

html {
  background-color: #DFEA4E;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em), linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em);
  background-size: 4.54vw 6.67vh;
}

html.designer-page-body {
  background-color: white;
}

#grain {
  background-image: url(../imgs/GRAIN.jpg) no-repeat center center fixed;
  opacity: 0.4;
  mix-blend-mode: color-burn;
  width: 100%;
  background-size: contain;
  opacity: 0.2;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.bg-video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.bg-photo-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  z-index: -2;
}

.bg-preview-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fieldnote-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1440;
  min-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 1440px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -720px;
    /* 50% */
  }
}
#grid-overlay {
  position: absolute;
  float: left;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em), linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em);
  background-size: 4.54vw 6.67vh;
  z-index: -1;
  opacity: 0.5;
}

.mini-grid {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em), linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em);
  background-size: 1em 1em;
  z-index: -1;
  opacity: 0.5;
}

#grain-overlay {
  position: absolute;
  float: left;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  background-image: url("../../imgs/GRAIN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0.2;
}

/*  ~~~~~~~~~~~~~~~~~~~ media queries for mobile ~~~~~~~~~~~~~~~~~~~ */
/* mobile views */
.mobile-photo-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-slider {
  width: 70%;
}

.slick-dots li {
  transform: scale(0.8);
}

@media screen and (min-width: 800px) {
  .mobile-caption, .mobile-quote {
    display: none;
  }

  .mobile-photo-container {
    display: none;
  }

  .mobile-video-slider {
    display: none;
  }

  #mobile-container {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  html {
    background-color: #DFEA4E;
    background-image: none;
  }

  #back-btn:hover #home-text {
    display: none;
  }

  nav#top-nav a.top-nav-item {
    color: white;
  }

  section.designer-top-section {
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    gap: 1.5em;
    width: 100%;
    margin-top: 100vh;
  }
  section.designer-top-section #designer-toggle {
    grid-column: 2/-2;
    margin-top: 2em;
    padding-bottom: 1em;
  }
  section.designer-top-section #designer-toggle .content-toggle hoverable {
    margin-right: 2em;
    color: #7D246B;
    font-family: hyperMarket;
    font-size: 3vw;
    text-transform: uppercase;
  }
  section.designer-top-section #designer-toggle .content-toggle hoverable.active {
    border-bottom: 2px solid #7D246B;
  }
  section.designer-top-section .designer-summary {
    grid-column: 2/-2;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }
  section.designer-top-section .designer-summary .designer-blurb {
    width: 100%;
  }

  .grid-layout-container {
    display: flex;
    flex-direction: column;
  }

  #mobile-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  #mobile-container #mobile-nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    z-index: 2;
  }
  #mobile-container #mobile-nav a.nav-item {
    font-size: 0.8rem;
    font-family: hyperMarket;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    height: 1rem;
    margin: 1.5em;
  }
  #mobile-container #mobile-nav a.nav-item:first-child {
    margin-right: auto;
  }
  #mobile-container .sidenav {
    height: 100%;
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #DFEA4E;
    overflow-x: hidden;
    padding-top: 1.5em;
    transition: 0.5s;
  }
  #mobile-container .sidenav .mobile-toggle {
    padding-left: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
    display: flex;
    font-family: hyperMarket;
  }
  #mobile-container .sidenav .mobile-toggle .content-toggle hoverable {
    color: #7D246B;
    margin: 0.5em;
    font-family: hyperMarket;
    font-size: 1rem;
  }
  #mobile-container .sidenav .sidenav-list {
    padding-bottom: 3em;
  }
  #mobile-container .sidenav a.mobile-nav-item {
    padding: 0.8em 0.75em 0.8em 2.5em;
    text-decoration: none;
    color: #7D246B;
    display: block;
    font-family: hyperMarket;
    font-weight: bold;
    transition: 0.3s;
    font-size: 0.85rem;
    text-transform: uppercase;
  }
  #mobile-container .sidenav a:hover, #mobile-container .sidenav a:active {
    color: white;
  }
  #mobile-container .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    color: white;
    padding: 0.5em;
  }
  #mobile-container #mobile-title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #mobile-container #mobile-title-container h1 {
    font-family: Redaction;
    font-size: 12vw;
    margin: 0;
    color: white;
  }
  #mobile-container #mobile-title-container h2 {
    font-family: hyperMarket;
    font-size: 3.5vw;
    margin: 0;
    color: white;
  }
  #mobile-container .blurb-container {
    height: 100vh;
  }
  #mobile-container .blurb-container h1 {
    margin: auto;
    left: 0;
    right: 0;
    top: 10vh;
    bottom: 0;
    position: absolute;
    width: 90%;
    font-family: Redaction;
    font-size: 4.9vw;
    color: #7D246B;
    line-height: 2.25rem;
    text-align: justify;
  }
  #mobile-container #mobile-video-slider {
    margin: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    object-fit: cover;
  }
  #mobile-container #mobile-video-slider .bg-mobile-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  #mobile-container #mobile-video-slider .slick-dots-container {
    width: 5.5rem;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0.625rem auto;
    height: 0.875rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3vh;
  }
  #mobile-container #mobile-video-slider .slick-dots-container > ul {
    padding: 0;
    display: flex;
    transition: all 0.25s;
    position: relative;
    margin: 0;
    list-style: none;
    transform: translateX(0);
    align-items: center;
    bottom: unset;
    height: 100%;
  }
  #mobile-container #mobile-video-slider .slick-dots-container > ul li {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.25rem;
    background-color: rgba(55, 55, 55, 0.4);
    border: none;
    border-radius: 50%;
  }
  #mobile-container #mobile-video-slider .slick-dots-container > ul li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.3125rem;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
  }
  #mobile-container #mobile-video-slider .slick-dots-container > ul li.p-small-1,
#mobile-container #mobile-video-slider .slick-dots-container > ul li.n-small-1 {
    transform: scale(0.8);
  }
  #mobile-container #mobile-video-slider .slick-dots-container > ul li.slick-active {
    transform: scale(1.3);
    transform-origin: center;
    background: #7D246B;
  }
  #mobile-container #mobile-video-slider .slick-dots li button:before {
    display: none;
  }

  .slide-numbers {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 4rem;
    bottom: 7vh;
    left: 0;
    right: 0;
  }
  .slide-numbers span {
    display: inline-block;
    position: relative;
    margin: auto;
    color: white;
    font-size: 1.25rem;
    font-family: hyperMarket;
  }

  #home-cal, #back-btn, nav#top-nav, #main-nav, nav#main-toggle, .cursor {
    display: none;
  }

  #scroll-down, #scroll-tool, div#back-btn {
    display: none;
  }

  section.photo-section-8, section.photo-section-7, section.photo-section-6, section.photo-section-6-v2, section.photo-section-5, section.photo-section-4, section.photo-section-4-v2, section.photo-section-3, section.photo-section-2, section.photo-section-1, .end-caption {
    display: none;
  }

  .section-quote, .center-quote {
    display: none !important;
  }

  section.transcript {
    display: none;
    grid-template-columns: 1fr 85% 1fr;
    gap: 1.5em;
    font-size: calc(0.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  section.transcript #transcript-container {
    grid-column: 2/-2;
    width: 100%;
    height: 90vh;
    font-family: Maison Neue;
    line-height: 125%;
    text-align: left;
  }

  .video-container .video-overlay p {
    display: none;
  }
  .video-container div.video-controls {
    height: 5vh;
    bottom: -5vh;
    margin-bottom: 2em;
  }

  .section-caption {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 70vw;
    height: 100%;
    margin: 2em;
    font-size: 0.9em;
    text-align: justify;
  }

  .mobile-wrapper {
    display: block;
    justify-content: center;
    margin-top: 5vh;
  }

  .mobile-caption, .mobile-quote {
    font-size: 0.67em;
    width: 100%;
    font-family: maisonMono-Regular;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.5em;
    margin-bottom: 5%;
  }

  .mobile-caption p {
    width: 80%;
    line-height: 200%;
    text-align: justify;
  }

  .mobile-quote p {
    width: 80%;
    line-height: 200%;
    text-align: justify;
  }

  .mobile-quote p::before {
    content: "“";
    font-size: 4rem;
    font-family: redaction;
    color: #DFEA4E;
    position: relative;
    top: 1rem;
    left: -1rem;
    opacity: 0.75;
    padding: 0;
  }

  .mobile-photo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
}
@media screen and (min-width: 1000px) {
  .photo-section-8, .photo-section-7, .photo-section-6, .photo-section-6-v2, .photo-section-5, .photo-section-4, .photo-section-4-v2, .photo-section-3, .photo-section-2, .photo-section-1, .end-caption {
    padding: 3em 0;
  }
}
body .cursor__ball--big {
  display: none;
}

body .cursor {
  pointer-events: none;
}

body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  z-index: 1000;
}

body .cursor__ball.solid {
  mix-blend-mode: normal;
}

body .cursor__ball circle {
  fill: purple;
}

body.no-cursor {
  cursor: none;
}

body.dot-cursor {
  cursor: url("../../assets/images/smalldot.svg") 20 20, auto;
}

body.dot-cursor .hoverable:hover {
  cursor: url("../../assets/images/largedot.svg") 20 20, auto;
  transition: all 0.5s ease-in;
}

.play-cursor {
  cursor: url("../../assets/images/play-button.svg") 20 20, auto;
}

.play-cursor.hoveraction {
  cursor: none;
}

.pause-cursor {
  cursor: url("../../assets/images/pause-button.svg") 15 20, auto;
}

.pause-cursor.hoveraction {
  cursor: none;
}

#main-toggle > a:hover, .main-nav-list > a, .designer-dot, .experience-dot, #top-nav > a {
  cursor: none;
}

*,
html {
  color: black;
}

h1.title {
  display: inline-block;
  margin: 50px;
}

/* ---------------- Links and cursor styling -------------------------- */
a {
  text-decoration: none;
  display: block;
}

.mobile-toggle a {
  color: #7D246B;
  margin-right: 3%;
}

a:hover {
  fill: purple;
}

a#imgHover {
  display: inline;
}

.active {
  border-bottom: 2px solid purple;
}

*.hiddenUI {
  display: none !important;
}

#back-btn {
  position: fixed;
  display: block;
  top: 1em;
  left: 1em;
  width: 10vw;
  z-index: 1;
}
#back-btn .home-dot {
  background-color: white;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
#back-btn p {
  display: none;
  font-family: hyperMarket, "Courier New", monospace;
  font-size: 0.9em;
  text-transform: uppercase;
  color: white;
}

#back-btn.purple .home-dot {
  background-color: #7D246B;
}
#back-btn.purple p {
  color: #7D246B;
}

#back-btn.purple.white .home-dot {
  background-color: white;
}
#back-btn.purple.white p {
  color: white;
}

#back-btn:hover #home-text {
  display: inline;
  width: 100%;
  left: 50px;
  position: absolute;
  font-size: 0.75rem;
}

.home-dot {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

/* --------------- grid box styling-----------------------------*/
#top-nav {
  grid-row: 2;
  grid-column: 2/span 4;
  display: grid;
  grid-template-columns: repeat(3, 9.08vw);
  margin-top: 0;
}
#top-nav a.top-nav-item {
  font-size: 0.8rem;
  font-family: hyperMarket, "Courier New", monospace;
  font-weight: bold;
  color: #7D246B;
  text-transform: uppercase;
  height: 1rem;
  padding: 3px 0;
}
#top-nav a.top-nav-item:hover {
  background-color: #7D246B;
  color: #DFEA4E;
}

#main-nav {
  grid-row: 13/span 1;
  grid-column: 7/-1;
}

.main-nav-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  font-family: hyperMarket, "Courier New", monospace;
}

#designer-list {
  display: grid;
  grid: repeat(4, 1fr)/repeat(5, 13.62vw);
  grid-auto-flow: column;
}
#designer-list #widA {
  grid-row: 1/2;
  grid-column: 1/2;
}
#designer-list #reglazeA {
  grid-row: 2/3;
  grid-column: 1/2;
}
#designer-list #edwinA, #designer-list #trulyA, #designer-list #jurgenA, #designer-list #nienkeA {
  grid-column: 2/3;
}
#designer-list #lexA, #designer-list #valentinA, #designer-list #corunumA, #designer-list #florisA {
  grid-column: 3/4;
}
#designer-list #rebeccaA, #designer-list #aldoA, #designer-list #momkaiA, #designer-list #lavaA {
  grid-column: 4/5;
}
#designer-list #inekeA, #designer-list #pepeA, #designer-list #matthewsA, #designer-list #futuresA {
  grid-column: 5/6;
}

#fnotes-list {
  display: grid;
  grid: repeat(3, 1fr)/repeat(5, 13.62vw);
  grid-auto-flow: column;
}

.main-nav-list.hiddenUI {
  display: none;
}

.list-navigation .main-nav-list li {
  font-size: 0.75rem;
  text-align: left;
  color: #7D246B;
  text-transform: uppercase;
  padding: 0.3rem 0.2rem;
}

.main-nav-list li:hover {
  background-color: #7D246B;
  color: #DFEA4E;
}

#main-toggle {
  grid-row: 13/span 1;
  grid-column: 2/span 4;
  display: grid;
  grid: 1fr/repeat(2, 9.08vw);
}

.landing-toggle {
  color: #7D246B;
  font-size: 0.8rem;
  font-family: hyperMarket, "Courier New", monospace;
  text-transform: uppercase;
  height: 1rem;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  border: 1px solid #7D246B;
}

.landing-toggle.active {
  color: #DFEA4E;
  background-color: #7D246B;
}

/* -----------------DOTS AND VIDEO STYLING----------------- */
.blurb-container {
  grid-area: 4/8/10/22;
  justify-content: grid-start;
}
.blurb-container h1 {
  font-family: Redaction;
  font-size: 2.25vw;
  color: #7D246B;
  line-height: 125%;
  letter-spacing: 0.035em;
  text-align: justify;
  margin-top: 0;
}

.calendar-container {
  grid-area: 5/8/11/22;
  display: grid;
  grid: repeat(6, 6.67vh)/repeat(14, 4.54vw);
  margin-top: 0;
}

.cal-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dot-headers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: end;
  text-align: right;
  margin-right: 0.25em;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
#dot-headers #hover-title {
  font-family: Redaction;
  font-size: 2.25vw;
  margin: 0;
  color: white;
}
#dot-headers #hover-subtitle {
  font-family: hyperMarket, "Courier New", monospace;
  font-size: 0.85vw;
  margin: 0;
  color: white;
}

#dot-headers.hiddenUI {
  display: none;
}

.designer-dot {
  background-color: white;
  display: inline;
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
  pointer-events: none;
  transition: width 0.185s cubic-bezier(0.55, 1, 0.85, 1), height 0.185s cubic-bezier(0.55, 1, 0.85, 1);
  transition-delay: 0.1s;
  transition: background-color 0.185s cubic-bezier(0.55, 1, 0.85, 1);
}

.active-dot {
  height: 2.25vw;
  width: 2.25vw;
  transition: width 0.185s cubic-bezier(0.55, 1, 0.85, 1), height 0.185s cubic-bezier(0.55, 1, 0.85, 1);
  transition-delay: 0.1s;
}

.dot-unhovered.designer-dot {
  background-color: transparent;
  border: 1px white solid;
  transition: background-color 0.185s cubic-bezier(0.55, 1, 0.85, 1);
}

.active-dot.nav-highlight {
  background-color: #7D246B;
}

.experience-dot {
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
  pointer-events: none;
  transition: width 0.185s cubic-bezier(0.55, 1, 0.85, 1), height 0.185s cubic-bezier(0.55, 1, 0.85, 1);
  transition-delay: 0.1s;
}

.experience-dot.active-dot, .designer-dot.active-dot {
  height: 2.25vw;
  width: 2.25vw;
  pointer-events: auto;
  transition: background-color 0.185s cubic-bezier(0.55, 1, 0.85, 1);
}

.dot-unhovered.experience-dot {
  background-color: transparent;
  border: 1px white solid;
  transition: background-color 0.185s cubic-bezier(0.55, 1, 0.85, 1);
}

#reglazeItem {
  grid-area: 5/14;
}

#whatItem {
  grid-area: 5/12;
}

#trulyItem {
  grid-area: 5/4;
}

#nienkeItem {
  grid-area: 5/3;
}

#jurgenItem {
  grid-area: 5/2;
}

#lexItem {
  grid-area: 5/1;
}

#edwinItem {
  grid-area: 5/6;
}

#valentinItem {
  grid-area: 4/2;
}

#florisItem {
  grid-area: 3/12;
}

#corunumItem {
  grid-area: 3/9;
}

#rebeccaItem {
  grid-area: 3/6;
}

#aldoItem {
  grid-area: 2/11;
}

#lavaItem {
  grid-area: 2/10;
}

#momkaiItem {
  grid-area: 2/9;
}

#inekeItem {
  grid-area: 2/6;
}

#pepeItem {
  grid-area: 2/5;
}

#matthewsItem {
  grid-area: 1/7;
}

#futuresItem {
  grid-area: 1/6;
}

#reglazeItem {
  grid-area: 5/12;
}

#widItem {
  grid-area: 5/14;
}

#arnhemItem {
  grid-area: 2/1;
}

#romeItem {
  grid-area: 2/3;
}

#appianItem {
  grid-area: 2/7;
}

#andreaItem {
  grid-area: 2/13;
}

#farmItem {
  grid-area: 2/14;
}

#texelsItem {
  grid-area: 3/1;
}

#burgundyItem {
  grid-area: 3/3;
}

#feltingItem {
  grid-area: 3/4;
}

#milkItem {
  grid-area: 3/11;
}

#breweryItem {
  grid-area: 3/14;
}

#kikiItem {
  grid-area: 4/1;
}

#rensItem {
  grid-area: 4/10;
}

#atelierItem {
  grid-area: 4/14;
}

#btsItem {
  grid-area: 5/7;
}

/* ----------------- DESIGNER PAGE SPECIFIC---------------------- */
.video-container {
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  margin: 0;
}
.video-container video {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.video-container .scroll-hint {
  position: absolute;
  display: block;
  bottom: 7vh;
  width: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.video-container .scroll-hint p {
  margin: 0 auto;
  padding-bottom: 6px;
  font-family: maisonNeue-Mono, "Courier New", monospace;
  text-transform: uppercase;
  font-size: 0.75em;
  color: white;
}
.video-container .video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  object-fit: cover;
}
.video-container .video-overlay h1 {
  font-size: 5.5vw;
  font-family: Redaction;
  color: white;
  z-index: 1;
}
.video-container .video-overlay h2 {
  z-index: 1;
}
.video-container .video-overlay p {
  font-size: 1vw;
  font-family: maisonNeue-Mono, "Courier New", monospace;
  width: 50%;
  margin: 0;
  color: white;
  z-index: 1;
}
.video-container .video-overlay .overlayBG {
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.video-container .video-controls {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0f0f05;
  width: 100%;
  height: 6vh;
  cursor: pointer;
}
.video-container .video-controls .progress {
  position: absolute;
  width: 100%;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  top: 0;
}
.video-container .video-controls .progress .vidbar {
  position: absolute;
  background-color: purple;
  height: 9px;
  width: 0;
}
.video-container .video-controls .timeblock {
  margin-top: 5px;
  margin-left: 1em;
}
.video-container .video-controls .timeblock div {
  display: inline-block;
  font-family: Maison Neue;
  font-size: 0.75em;
  color: #DFEA4E;
}
.video-container .video-controls .timeblock span {
  color: #DFEA4E;
}
.video-container .video-controls .vid-buttons {
  margin-top: 5px;
}
.video-container .video-controls .vid-buttons button, .video-container .video-controls .vid-buttons a {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #DFEA4E;
  font-family: Maison Neue;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 0 1em;
}
.video-container .video-controls .vid-buttons button.play:before {
  content: "PLAY";
  text-transform: capitalize;
}
.video-container .video-controls .vid-buttons button.pause:after {
  content: "PAUSE";
  text-transform: capitalize;
}
.video-container .video-controls .vid-buttons.right {
  margin-left: auto;
}
.video-container .video-controls .vid-buttons.right #fs, .video-container .video-controls .vid-buttons.right #vimeo {
  display: inline;
  padding-right: 0.6vw;
}

.designer-tagline {
  font-family: hyperMarket, "Courier New", monospace;
  font-size: 0.75em;
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
}

.designer-name {
  font-family: Redaction;
  font-size: 5.5vw;
  margin: 0;
  text-transform: uppercase;
}

.designer-blurb {
  font-family: Maison Neue;
  font-size: 0.8em;
  line-height: 150%;
  width: 60%;
}

#video-fig:fullscreen {
  background-color: black;
}
#video-fig:fullscreen .video-overlay {
  position: static;
}
#video-fig:fullscreen .scroll-hint {
  display: none;
}
#video-fig:fullscreen .embed-container {
  position: relative;
  padding-bottom: 70.25%;
}
#video-fig:fullscreen .video-overlay {
  top: 40%;
}
#video-fig:fullscreen .video-controls {
  position: fixed;
  bottom: 0;
}

#video-fig:fullscreen .video-controls.hoveraction {
  transform: translateY(6vh);
}

.shown-item {
  opacity: 0;
}

.invis-item {
  visibility: hidden;
}

.invis-item.visible {
  visibility: visible;
}

.shown-item.visible {
  opacity: 1;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.shown-item.visible-slow {
  opacity: 1;
  -webkit-transition: all 0.45s ease-in;
  -moz-transition: all 0.45s ease-in;
  -ms-transition: all 0.45s ease-in;
  -o-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

.designer-top-section {
  display: grid;
  grid-template-columns: 1fr repeat(18, 4vw) 1fr;
  gap: 1.5em;
  width: 100%;
  margin-top: 100vh;
}
.designer-top-section #designer-toggle {
  grid-column: 3/-4;
  margin-top: 4em;
  padding-bottom: 2em;
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #e1e1e1;
}
.designer-top-section #designer-toggle .content-toggle {
  margin-right: 2em;
  color: #7D246B;
  font-family: hyperMarket, "Courier New", monospace;
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 0.25em;
}
.designer-top-section #designer-toggle .content-toggle.active {
  border-bottom: 2px solid #7D246B;
}
.designer-top-section .designer-summary {
  grid-column: 3/-4;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.designer-top-section .designer-summary .black-txt {
  color: black;
}
.designer-top-section .designer-summary .designer-tagline {
  margin-bottom: 1em;
}
.designer-top-section .designer-summary .designer-blurb {
  width: 60%;
  line-height: 170%;
  color: grey;
  margin-top: 2em;
}

.fullbleed {
  width: 100%;
  height: auto;
  background-color: salmon;
  margin-top: 4em;
}

.designer-footer {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 2em 10%;
  text-transform: uppercase;
  bottom: 0;
}
.designer-footer p {
  font-family: maisonNeue-Mono, "Courier New", monospace;
  font-size: 0.75rem;
  color: black;
  display: inline;
  margin-bottom: 0.25rem;
  line-height: 125%;
}
.designer-footer a {
  font-family: hyperMarket, "Courier New", monospace;
  font-size: 0.75rem;
  color: #7D246B;
  display: inline;
  margin-bottom: 2rem;
}
.designer-footer a:hover {
  text-decoration: underline;
}

.scroll-util {
  position: fixed;
  bottom: 10%;
  right: 4%;
  z-index: 1;
  cursor: pointer;
}
.scroll-util svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.scroll-util svg #scroll-progress {
  transform: scale(-1, 1) rotate(90deg);
  transform-origin: 50% 50%;
}
.scroll-util .inner-util {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  font-size: 0.75rem;
  color: #7D246B;
  text-align: center;
  font-family: hyperMarket, "Courier New", monospace;
}
.scroll-util .inner-util:hover {
  text-decoration: none;
  cursor: pointer;
}

.section-quote {
  font-size: 0.95rem;
  font-family: maisonMono-Regular;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  color: black;
  line-height: 200%;
}

.section-quote::before {
  content: "“";
  font-size: 4rem;
  font-family: Redaction;
  color: #DFEA4E;
  position: relative;
  top: 1rem;
  left: -1rem;
  opacity: 0.75;
  padding: 0;
}

.section-caption {
  font-family: maisonMono-Regular;
  font-size: 0.75em;
  font-weight: lighter;
  line-height: 150%;
  color: grey;
}

#nienkequote {
  display: inline-block;
  float: right;
  margin-right: 8%;
  padding-bottom: 5em;
}

#lottequote {
  width: 40%;
  margin: auto 0 auto 45%;
  padding: 5em 0;
}

.center-quote {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding: 5em 0;
}

#inekequote {
  width: 46%;
}

#aldoquote2 {
  margin-top: -5em;
}

/*---------- transcripts ------------- */
.transcript {
  display: grid;
  grid-template-columns: repeat(21, 4.54vw) 1fr;
  display: none;
  height: auto;
}

#transcript-container {
  grid-column: 6/span 11;
  width: 100%;
  height: 90vh;
  font-family: Maison Neue;
  line-height: 125%;
  text-align: left;
  line-height: 200%;
  font-size: 0.95rem;
}
#transcript-container p:last-child {
  margin-bottom: 6vh;
}

p span {
  background-color: #DFEA4E;
  color: black;
}

#transcript-container h3 {
  font-size: 1.25rem;
  background-color: none;
  width: 50%;
  color: #7D246B;
  font-family: hyperMarket, "Courier New", monospace;
  text-transform: uppercase;
  margin-top: 2.5rem;
}

h3#intro {
  color: black;
  font-size: 1.5em;
  background-color: white;
}

span:hover {
  cursor: pointer;
}

@keyframes loop {
  0% {
    transform-origin: 0 50%;
    transform: scale3d(0, 1, 1);
  }
  50% {
    transform-origin: 0 50%;
    transform: scale3d(1, 1, 1);
  }
  51% {
    transform-origin: 100% 50%;
  }
  100% {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
  }
}
.hover-reveal {
  position: fixed;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.hover-reveal__img,
.hover-reveal__inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
}

.hover-reveal__img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*# sourceMappingURL=main.css.map */
