$width-unit: 4.54vw;
$height-unit: 6.67vh;
$grid-background: linear-gradient(rgba(255, 255, 255, .8) .01em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, .8) .01em, transparent .1em);
$grid-background-lightbg: linear-gradient(rgba(223, 234, 78, .7) .01em, transparent .1em), linear-gradient(90deg, rgba(223, 234, 78, .7) .01em, transparent .1em);
$secondary-purp: #7D246B;


@import './1-helpers/fonts';
*, html {
  color: white;
}

a {
  text-decoration: none;
}

@import './2-modules/layouts';
@import './2-modules/background';
/* --------------- grid box styling-----------------------------*/
#main-logo {
  grid-row: 2;
  grid-column: 2 / span 4;
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 0;
  font-size: 2em;
  font-family: redaction;
  font-weight: bold;
  color: $secondary-purp;
}
/* consistently use this to hide things */
.hiddenUI[id] {
  display: none;
}

.list-navigation {
  grid-row: 13 / span 1;
  grid-column: 2 / 13;
  font-size: 0.8em;
}

.main-nav-list{
  list-style: none;
  display: grid;
  grid: 1fr / repeat(4, 2*$width-unit);
  grid-auto-flow: row;
  padding-left: 0;
  margin-top: 0;
  font-family: hyperMarket;
}

.main-nav-list.hiddenUI{
  display: none;
}

.list-navigation .main-nav-list li{
  font-size: 0.5rem;
  text-align: left;
  color: $secondary-purp;
}

.main-nav-list li:hover{
  background-color: white;
}

#main-blurb {
  grid-row: 2 / span 2;
  grid-column: 14 / 22;
  font-size: 0.5rem;
  color: $secondary-purp;
  margin-top: 0;
  font-family: hyperMarket;
}

#main-toggle {
  font-size: 0.5em;
  font-family: hyperMarket;
  color: white;
  grid-row: 13;
  grid-column: 18 / span 4;
  display: grid;
  grid: 1fr / repeat(2, 2*$width-unit);
}

.landing-toggle{
  color: purple;
}

.landing-toggle.active-toggle{
  text-decoration: underline;
  stroke-width: 5px;
}


/* -----------------DOTS AND VIDEO STYLING----------------- */

.fieldnote-bg{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -1;
}

.calendar-container{
  grid-area: 5 / 8 / 11/ 22;
  display: grid;
  grid: repeat(6, $height-unit)/repeat(14, $width-unit);
  margin-top: 0;
}

.cal-item{
  display: flex;
  align-items: center;
  justify-content: center;
}


#dot-headers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: end;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  #hover-title {
    font-family: Redaction;
    font-size: 2.25vw;
    margin: 0;
  }
  #hover-subtitle {
    font-family: hyperMarket;
    font-size: 0.85vw;
    margin: 0;
  }
}

#dot-headers.hiddenUI{
  display: none;
}

.designer-dot {
  background-color: white;
  display: inline;
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
}

.active-dot{
  height: 2.25vw;
  width: 2.25vw;
}

.dot-unhovered.designer-dot {
  background-color: transparent;
  border: 1px white solid;
}

.active-dot.nav-highlighted {
  background-color: $secondary-purp;
}

.experience-dot {
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
}

.experience-dot.active-dot{
  height: 2.25vw;
  width: 2.25vw;
}

.dot-unhovered.experience-dot{
  background-color: transparent;
  border: 1px white solid;
}

#reglazeItem{
  grid-area: 5/14;
}

#whatItem{
  grid-area: 5/12 ;
}

#trulyItem{
  grid-area: 5/4;
}

#nienkeItem{
  grid-area: 5/3;
}

#jurgenItem{
  grid-area: 5/2;
}

#lexItem{
  grid-area: 5/1;
}

#edwinItem{
  grid-area: 4/6;
}

#valentinItem{
  grid-area: 4/2;
}

#florisItem{
  grid-area: 3/12;
}

#corunumItem{
  grid-area: 3/9;
}

#rebeccaItem{
  grid-area: 3/6;
}

#aldoItem{
  grid-area: 2/11;
}

#lavaItem{
  grid-area: 2/10;
}

#momkaiItem{
  grid-area: 2/9;
}

#inekeItem{
  grid-area: 2/7;
}

#pepeItem{
  grid-area: 2/6;
}

#matthewsItem{
  grid-area: 1/8;
}

#futuresItem{
  grid-area: 1/7;
}

#arnhemItem{
  grid-area: 2/1;
}

#romeItem{
  grid-area: 2/3;
}

#appianItem{
  grid-area: 2/7;
}

#andreaItem{
  grid-area: 2/13;
}

#farmItem{
  grid-area: 2/14;
}

#texelsItem{
  grid-area: 3/1;
}

#burgundyItem{
  grid-area: 3/3;
}

#feltingItem{
  grid-area: 3/4;
}

#milkItem{
  grid-area: 3/11;
}

#breweryItem{
  grid-area: 3/14;
}

#kikiItem{
  grid-area: 4/1;
}

#rensItem{
  grid-area: 4/10;
}

#atelierItem{
  grid-area: 4/14;
}

#btsItem{
  grid-area: 5/7;
}

/* ----------------- DESIGNER PAGE SPECIFIC---------------------- */

.designer-video-wrapper {
  background-color: black;
  grid-column: 1/ span 22;
  grid-row: 1 / span 14;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

.designer-video{
  border: none;
  grid-column: 2;
  max-height: 100%;
  width: auto;
  outline: none;
}

.purple {
  color: purple;
}
