// $width-unit: 4.54vw;
// $height-unit: 6.67vh;
// $grid-background: linear-gradient(rgba(255, 255, 255, .8) .01em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, .8) .01em, transparent .1em);
// $grid-background-lightbg: linear-gradient(rgba(223, 234, 78, .7) .01em, transparent .1em), linear-gradient(90deg, rgba(223, 234, 78, .7) .01em, transparent .1em);
// $primary-green: #DFEA4E;
// $secondary-purp: #7D246B;

@import '../1-helpers/_fonts';
@import '../2-modules/_layouts';
@import '../2-modules/_cursor';

/* ----- fonts ------ */
@font-face {
  font-family: hyperMarket;
  src: url(../../fonts/hypermarket-regular.ttf);
  font-weight: bold;
}
/* ----- legacy fonts ------ */
@font-face {
  font-family: bebas;
  src: url(../../fonts/bebas.otf);
}
@font-face {
  font-family: brandon;
  src: url(../../fonts/brandon.otf);
}
@font-face {
  font-family: karla;
  src: url(../../fonts/karla.ttf);
}
@font-face {
  font-family: helveticaneue-bold;
  src: url(../../fonts/helveticaneue-bold.otf);
}
@font-face {
  font-family: museosans-100;
  src: url(../../fonts/museosans-100.otf);
}
@font-face {
  font-family: novecento;
  src: url(../../fonts/novecento.otf);
}
@font-face {
  font-family: katarinestd;
  src: url(../../fonts/katarinestd.otf);
}
@font-face {
  font-family: monsterrat;
  src: url(../../fonts/monsterrat.otf);
}
@font-face {
  font-family: neuehaasgroteskblack;
  src: url(../../fonts/neuehaasgroteskblack.otf);
}
/* ----- DD19 BRAND FONTS ------ */
@font-face {
  font-family: redaction;
  src: url(../../fonts/Redaction-Regular.otf);
}
@font-face {
  font-family: redaction-bold;
  src: url(../../fonts/Redaction-Bold.otf);
  font-weight: bold;
  text-transform: capitalize;
}
@font-face {
  font-family: maisonBold;
  src: url(../../../fonts/MaisonMono-Bold.otf);
}
@font-face {
  font-family: maisonMedium;
  src: url(../../../fonts/MaisonNeue-Medium.ttf);
}
@font-face {
  font-family: maisonNeue-Mono;
  src: url(../../../fonts/MaisonNeue-Mono.otf);
}
@font-face {
  font-family: maisonNeueExt-Mono;
  src: url(../../../fonts/MaisonNeueExt-Medium.otf);
}
@font-face {
  font-family: maisonMono-Regular;
  src: url(../../../fonts/MaisonMono-Regular.otf);
}

.grid-layout-container {
  display: grid;
  /* top row has adjustable space, then 13 even 6.67 vh rows*/
  /* left column has adjustable space, then 21 even 4.54 vw rows*/
  grid: repeat(13, 6.67vw) 1fr/repeat(21, 4.54vh);
  gap: none none;
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
  padding: 0px;
}


.photo-section-7, .photo-section-6, .photo-section-6-v2, .photo-section-5, .photo-section-4, .photo-section-4-v2, .photo-section-3, .photo-section-2, .photo-section-1, .end-caption {
  display: grid;
  grid-template-columns: 1fr repeat(18, 4vw) 1fr;
  gap: 1.5em;
  width: 100%;
  margin-top: 5em;
  align-items: start;
  width: 100%;
}


.section-quote {
  font-size: 0.9em;
  font-family: maisonNeue-Mono;
  color: white;
}

.section-caption {
  font-family: maisonNeue-Mono;
  font-size: 0.65em;
  font-weight: lighter;
  line-height: 150%;
  color: white;
}

/*-------------- PHOTO SECITON 1 -------------------- */

.photo-section-1 {
  grid-template-rows: 1fr 1fr;
}
.photo-section-1 .layout-item:first-child {
  grid-row: 1;
  grid-column: 4/13;
  width: 100%;
}
.photo-section-1 .layout-item:nth-child(2) {
  grid-row: 2;
  grid-column: 7/12;
  width: 100%;
}
.photo-section-1 .layout-item:nth-child(3) {
  grid-row: 2;
  grid-column: 12/18;
  width: 100%;
}

/*-------------- PHOTO SECITON 2 -------------------- */

.photo-section-2 {
  grid-template-rows: repeat(5, 16.66vh) 1fr;
}

.photo-section-2 .layout-item:first-child {
  grid-row: 1/10;
  grid-column: 5/10;
  width: 100%;
  overflow: hidden;
}
.photo-section-2 .layout-item:first-child img {
  width: 100%;
  grid-row: 1/10;
  grid-column: 5/10;
  overflow: hidden;
}

.photo-section-2 .layout-item:nth-child(2) {
  grid-row: 5/3;
  grid-column: 9/13;
  height: 100%;
  overflow: hidden;
}
.photo-section-2 .layout-item:nth-child(2) img {
  width: 100%;
  margin: 0;
}
.photo-section-2 .layout-item:nth-child(3) {
  grid-row: 2/ span 2;
  grid-column: 10/17;
  width: 90%;
}
.photo-section-2 .section-quote.type-one {
  grid-row: 2/3;
  grid-column: 12/16;
  align-self: end;
  width: 100%;
  margin-bottom: 0;
}
.photo-section-2 .section-quote.type-two {
  grid-row: 4/6;
  grid-column: 6/9;
  align-self: start;
  width: 100%;
  margin-bottom: 0;
}

.photo-section-2 .layout-item:nth-child(4) {
  grid-column: 2/10;
  grid-row: 5/10;
  width: 100%;
  margin:0;
}

/*-------------- PHOTO SECITON 3  -------------------- */

.photo-section-3 {
  grid-template-rows: 1fr 1fr;
}
.photo-section-3 .layout-item:first-child {
  grid-column: 5/17;
  grid-row: 1;
  width: 100%;
}
.photo-section-3 .layout-item:nth-child(2) {
  grid-column: 4/12;
  grid-row: 2;
  width: 100%;
}
.photo-section-3 .section-quote {
  grid-column: 12/18;
  grid-row: 2;
  align-self: center;
  color: black;
}

/*-------------- PHOTO SECITON 4 VARIATION 2 -------------------- */

.photo-section-4-v2 {
  grid-template-rows: repeat(1, 6.34vh) 1fr;
}

.photo-section-4-v2 .layout-item:first-child {
  width: 90%;
  grid-column: 3/12;
  grid-row: 2/5;
}

.photo-section-4-v2 .layout-item:nth-child(2) {
  width: 100%;
  grid-column: 11/15;
  grid-row:1;
}

.photo-section-4-v2 .section-caption:nth-child(4) {
  align-self: start;
  line-height: 150%;
  grid-column: 11/15;
  grid-row: 3/10;
  text-align: justify;
}

.photo-section-4-v2 .section-caption:nth-child(3) {
  grid-column: 3/10;
  grid-row:1;
  align-self: start;
  line-height: 150%;
}


/*-------------- PHOTO SECITON 5 -------------------- */

.photo-section-5 {
  margin-bottom: 5em;
}

.photo-section-5 .layout-item:first-child {
  grid-column: 3/9;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.photo-section-5 .layout-item:first-child img {
  width: 100%;
}
.photo-section-5 .layout-item:nth-child(2) {
  grid-column: 9/17;
  grid-row: 1;
  width: 100%;
}
.photo-section-5 .layout-item:nth-child(3) {
  grid-column: 11/17;
  grid-row: 2;
  width: 100%;
  padding-top: 2em;
}

/*-------------- PHOTO SECITON 6 -------------------- */

.photo-section-6 {
  grid-template-rows: repeat(7, 1fr);
  margin-bottom: -5em;
}
.photo-section-6 .layout-item:first-child {
  grid-row: 1/4;
  grid-column: 7/11;
  width: 100%;
}
.photo-section-6 .layout-item:nth-child(2) {
  grid-row: 2/5;
  grid-column: 11/15;
  width: 100%;
}
.photo-section-6 .layout-item:nth-child(3) {
  grid-row: 4/7;
  grid-column: 5/11;
  width: 100%;
}
.photo-section-6 .section-quote {
  grid-row: 5/7;
  grid-column: 11/16;
  width: 90%;
  align-self: end;
  line-height: 150%;
}

/*-------------- PHOTO SECITON 6 VARIATION 2 -------------------- */

.photo-section-6-v2 {
  grid-template-rows: repeat(7, 1fr);
  margin-bottom: -5em;
}

.photo-section-6-v2 .layout-item:first-child {
  grid-row: 1/4;
  grid-column: 7/11;
  width: 100%;
}

.photo-section-6-v2 .layout-item:nth-child(2) {
  grid-row: 2/5;
  grid-column: 11/15;
  width: 100%;
}
.photo-section-6-v2 .layout-item:nth-child(3) {
  grid-row: 4/7;
  grid-column: 5/11;
  width: 100%;
}
.photo-section-6-v2 .section-caption {
  grid-row: 5/7;
  grid-column: 11/16;
  width: 90%;
  align-self: start;
  line-height: 150%;
}

.photo-section-6-v2 .section-caption:nth-child(4) {
  grid-row: 1/4;
  grid-column: 2/9;
  width: 70%;
  align-self: end;
  line-height: 150%;
}

/*-------------- PHOTO SECITON 7 VARIATION 2 -------------------- */

.photo-section-7 {
  grid-template-rows: 2;
}
.photo-section-7 .layout-item:first-child {
  grid-row: 1;
  grid-column: 4/11;
}
.photo-section-7 .layout-item:nth-child(2) {
  grid-row: 2/3;
  grid-column: 2/9;
  width: 72%;
}
.photo-section-7 .layout-item:nth-child(3) {
  grid-row: 2;
  grid-column: 7/17;
  width: 100%;
}

.end-caption {
  grid-template-rows: repeat(1, 10vh) 1fr;
}

.end-caption .section-caption {
  grid-column: 4/15;
  line-height: 150%;
}

html {
  background-color: #000;
}

body {
  color: white;
  font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  padding: 1em;
}

a#home:hover {
  text-align: right;
}

.back-btn {
  grid-row: 1;
  grid-column: 2/5;
  font-family: redaction;
  font-size: 1.1rem;
  display: inline;
  margin-top: 1%;
  width: 200px;
  color: white;
}

.home-dot {
  height: 35px;
  width: 35px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
}

#back {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.experience-landing {
  display: grid;
  grid-row: 0/20;
  grid-column: 0/10;
  padding: 1.5%;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  background-size: contain;
}

.geo-info#right {
  display: inline-block;
  right: 0;
  justify-content: flex-start;
  position: absolute;
  width: 20px;
  height: 500px;
  font-family: maisonMono-Regular;
  font-size: 0.5em;
  letter-spacing: 0.6em;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.geo-info#left {
  display: inline-block;
  left: 15px;
  justify-content: flex-start;
  position: absolute;
  width: 20px;
  height: 500px;
  font-family: maisonMono-Regular;
  font-size: 0.5em;
  letter-spacing: 0.6em;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

#exp-landing-photo {
  width: 82vw;
  height: 500px;
  display: grid;
  grid-row: 1/20;
  grid-column: 0/10;
  background-image: url("../../../assets/images/arnhem.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1vw;
  border-style: none;
}

.exp-title {
  text-align: right;
  width: 80vw;
}

#exp-tagline {
  font-family: hyperMarket;
  font-size: calc(0.9em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

#exp-title {
  font-family: redaction;
  font-size: calc(4em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.shown-item {
  opacity: 0;
}

.shown-item.visible {
  opacity: 1;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.shown-item.visible-slow {
  opacity: 1;
  -webkit-transition: all 0.45s ease-in;
  -moz-transition: all 0.45s ease-in;
  -ms-transition: all 0.45s ease-in;
  -o-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

.fullbleed {
  width: 100%;
  height: auto;
  margin-top: 5em;
  padding: 0;
}

/*# sourceMappingURL=experiences.css.map */

/*# sourceMappingURL=experiences.css.map */
