$width-unit: 4.54vw;
$height-unit: 6.67vh;
$grid-background: linear-gradient(rgba(255, 255, 255, .8) .01em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, .8) .01em, transparent .1em);
$grid-background-lightbg: linear-gradient(rgba(223, 234, 78, .7) .01em, transparent .1em), linear-gradient(90deg, rgba(223, 234, 78, .7) .01em, transparent .1em);
$primary-green: #DFEA4E;
$secondary-purp: #7D246B;

/* ------------------- containers ------------------------------------- */
@import '../1-helpers/fonts';
@import '../2-modules/background';



#back-btn {
  position: fixed;
  display: block;
  top: 1em;
  left: 1em;
  width: 10vw;
  z-index: 1;
  .home-dot {
    background-color: white;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }
  p {
    display: none;
    font-family: hyperMarket;
    font-size: 0.9em;
    text-transform: uppercase;
    color: white;
  }
}
#back-btn.purple{
  .home-dot{
    background-color: $secondary-purp;
  }
  p {
    color: $secondary-purp;
  }
}

#back-btn.purple.white{
  .home-dot{
    background-color: white;
  }
  p{
    color: white;
  }
}

#back-btn:hover #home-text {
  display: inline-block;
  float: right;
}

.home-dot {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}


/* ------------------- archive ------------------------------------- */
.archive-stack {
  width: 253px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 3.1em;
}

.year {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      align-self: center;
}

.legacy-year {
  transform: rotate(-90deg);
  color: #7D246B;
}

.legacy-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  height: 100vh;
  bottom:0;
  position: absolute;
  z-index: -1;
}

a {
  text-decoration: none;
}

h1 {
  transform: rotate(-90deg);
  color: #7D246B;
}

/* --- h1 ids ---- */
#ten {
  font-family: helveticaneue-bold;
}
#eleven{
  font-family: museosans-100;
}
#twelve {
  font-family: novecento;
}
#thirteen{
  font-family: bebas;
}
#fourteen{
  font-family: monsterrat;
}
#fifteen{
  font-family: katarinestd;
}
#sixteen{
  font-family: karla;
}
#seventeen{
  font-family: arial;
}
#eighteen{
  font-family: neuehaasgroteskblack;
}
#nineteen{
  font-family: redaction;
}

#yeartwelve {
  font-size: 2.2em;
  letter-spacing: 10px;
}

#yearthirteen {
  font-size: 2.2em;
  letter-spacing: 10px;
}

#yearfourteen {
  font-size: 5rem;
  letter-spacing: 12px;
}

#yearfifteen {
  letter-spacing: 10px;
}

#yearsixteen {
  letter-spacing: 8px;
}
