/* ------------------- containers ------------------------------------- */
/* ----- fonts ------ */
@font-face {
  font-family: hyperMarket;
  src: url(../../../fonts/hypermarket-regular.ttf);
  font-weight: bold;
}
/* ----- legacy fonts ------ */
@font-face {
  font-family: bebas;
  src: url(../../../fonts/bebas.otf);
}
@font-face {
  font-family: brandon;
  src: url(../../../fonts/brandon.otf);
}
@font-face {
  font-family: karla;
  src: url(../../../fonts/karla.ttf);
}
@font-face {
  font-family: helveticaneue-bold;
  src: url(../../../fonts/helveticaneue-bold.otf);
}
@font-face {
  font-family: museosans-100;
  src: url(../../../fonts/museosans-100.otf);
}
@font-face {
  font-family: novecento;
  src: url(../../../fonts/novecento.otf);
}
@font-face {
  font-family: katarinestd;
  src: url(../../../fonts/katarinestd.otf);
}
@font-face {
  font-family: monsterrat;
  src: url(../../../fonts/monsterrat.otf);
}
@font-face {
  font-family: neuehaasgroteskblack;
  src: url(../../../fonts/neuehaasgroteskblack.otf);
}
@font-face {
  font-family: redaction;
  src: url(../../../fonts/Redaction10-Regular.otf);
}
@font-face {
  font-family: Redaction;
  src: url(../../../fonts/Redaction-bold.woff);
  font-weight: bold;
}
html {
  background-color: #DFEA4E;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em), linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em);
  background-size: 4.54vw 6.67vh;
}

#grain {
  background-image: url(../imgs/GRAIN.png) no-repeat center center fixed;
  opacity: 0.4;
  mix-blend-mode: color-burn;
  width: 100%;
  background-size: contain;
  opacity: 0.2;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

/* ------------------- archive ------------------------------------- */
.archive-stack {
  width: 253px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 3.1em;
}

.year {
  margin-top: 100%;
}

.legacy-year {
  transform: rotate(-90deg);
  color: #7D246B;
}

.legacy-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  height: 100vh;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

a {
  text-decoration: none;
}

h1 {
  transform: rotate(-90deg);
  color: #7D246B;
}

/* --- h1 ids ---- */
#ten {
  font-family: helveticaneue-bold;
}

#eleven {
  font-family: museosans-100;
}

#twelve {
  font-family: novecento;
}

#thirteen {
  font-family: bebas;
}

#fourteen {
  font-family: monsterrat;
}

#fifteen {
  font-family: katarinestd;
}

#sixteen {
  font-family: karla;
}

#seventeen {
  font-family: arial;
}

#eighteen {
  font-family: neuehaasgroteskblack;
}

#nineteen {
  font-family: redaction;
}

#yeartwelve {
  font-size: 2.2em;
  letter-spacing: 10px;
}

#yearthirteen {
  font-size: 2.2em;
  letter-spacing: 10px;
}

#yearfourteen {
  font-size: 5rem;
  letter-spacing: 12px;
}

#yearfifteen {
  letter-spacing: 10px;
}

#yearsixteen {
  letter-spacing: 8px;
}

/*# sourceMappingURL=legacy.css.map */
