@import '../1-helpers/fonts';

html {
  background-color: #000;
  border-image: linear-gradient(rgba(255, 255, 255, 0.2) 0.01, transparent 0.1em), linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0.01em, transparent 0.1em);
  background-size: 4.54vw 6.67vh;
  z-index: -1;
}


.bg {
  background-image: url("../../../assets/images/team/teampageBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  object-fit: contain;
}


#team-blurb{
    font-family: redaction-bold;
    color: #7D246B;
    grid-row: 4/span 1;
    grid-column: 3/22;
    padding-right: 3em;
    font-size: calc( 1em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    max-height: 400px;
}

#title {
  font-family: redaction;
  font-size: 2em;
  text-align: justify;
  padding-bottom: 5%;
}

.grid-layout-container {
  display: grid;
  /* top row has adjustable space, then 13 even 6.67 vh rows*/
  /* left column has adjustable space, then 21 even 4.54 vw rows*/
  grid: repeat(13, 6.67vh) 1fr/repeat(21, 4.6vw);
  gap: none none;
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
  padding: 0px;
}

#grid-overlay {
  position: absolute;
  float: left;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em), linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0.01em, transparent 0.1em);
  background-size: 4.54vw 6.67vh;
  z-index: -1;
  opacity: 0.5;
}

*, html {
  color: white;
  opacity: 1;
}

#team-bio {
  display: grid;
  grid-row: 6;
  grid-column: 8/16;
  line-height: 210%;
  text-align: justify;
  z-index: 99;
  max-height: 500px;
}

.photo-section {
  width:100vw;
  height: 100vh;
  position: absolute;
  left:0;
}

.portfolio-link {
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: maisonNeue-Mono;
  grid-row: 2;
  grid-column: 8/16;
  line-height: 80%;
}

h1 {
  display: inline-block;
  font-family: Redaction;
  font-size: 3em;
  grid-row: 3;
  grid-column: 8/16;
}


p.team {
  font-family: maisonNeue-Mono;
  line-height: 200%;
  font-size: 0.7em;
  grid-row: 4/10;
  grid-column: 8/16;
}

p.small {
  font-family: maisonNeue-Mono;
  grid-row: 4;
  grid-column: 12/18;
  line-height: 180%;
  font-size: calc(0.1em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}


/* ---------------- Links and cursor styling -------------------------- */

.back-btn {
  margin-left: 5%;
  grid-column: 1/9;
  font-family: redaction;
  font-size: 3rem;
  display: inline;
  margin-top: 1%;
  width: 200px;
  color: white;
  z-index: 99;
}

#back {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

a:hover {
    color: #DFEA4E;
}

/* ---------------- Links and cursor styling -------------------------- */

a {
  text-decoration: none;
}

*.hiddenUI {
  display: none !important;
}

body .cursor__ball--big {
  display: none;
}

body .cursor {
  pointer-events: none;
}

body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  mix-blend-mode: overlay;
  z-index: 1000;
}

body .cursor__ball circle {
  fill: #DFEA4E;
}

/* -----------circle nav ------------ */
.circle-nav-container {
  grid-area: 14/12/14/16;
  display: grid;
  grid: repeat(1, 7vh)/repeat(16, 4.54vw);
  margin-top: 0;
}

.team-item {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: none;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}

span:hover {
  background-color: #DFEA4E;
}

/* ------------------------- Plugin MARQUEE CSS -------------------------------- */
.str_wrap {
	overflow:hidden;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	background:none;
	white-space:nowrap;
}

.str_wrap.str_active {
}

.str_move {
	white-space:nowrap;
	position:absolute;
	top:0;
	left:0;
	cursor:move;
}
.str_move_clone {
	display:inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:top;
	position:absolute;
	left:100%;
	top:0;
}
.str_vertical .str_move_clone {
	left:0;
	top:100%;
}
.str_down .str_move_clone {
	left:0;
	bottom:100%;
}
.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}

.str_wrap img {
	max-width:none !important;
}

.str4{
  width: 100vw;
  height: 100vh;
}

/* --------------- mobile scale ----------------- */

// a {
// 	color: #f4726d;
// 	text-decoration: none;
// 	outline: none;
// }
//
// a:hover, a:focus {
// 	color: #c44d48;
// }

// .related {
// 	text-align: center;
// 	font-size: 1.25em;
// 	padding: 3em 0;
// 	overflow: hidden;
// }
//
// .related a {
// 	display: inline-block;
// 	text-align: left;
// 	margin: 20px auto;
// 	padding: 10px 20px;
// 	opacity: 0.8;
// 	color: #777;
// 	-webkit-transition: opacity 0.3s;
// 	transition: opacity 0.3s;
// 	-webkit-backface-visibility: hidden;
// }

// .related a:hover,
// .related a:active {
// 	opacity: 1;
// }
//
// .related a img {
// 	max-width: 100%;
// }
//
// .related a h3 {
// 	font-weight: 300;
// 	margin: 0;
// 	padding: 0.3em 0;
// }


.dotstyle ul {
  display: grid;
  grid: repeat(1, 7vh)/repeat(13, 4.54vw);
  margin-top: 0;
  align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: grid;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}

.dotstyle:nth-child(4n),
.dotstyle:nth-child(4n-3) {
	background-color: rgba(0, 0, 0, 0.05);
}

.dotstyle-scaleup li a {
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-scaleup li a:hover,
.dotstyle-scaleup li a:focus {
	background-color: white;
}

.dotstyle-scaleup li.current a {
	background-color: white;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}


/* ------------------ MEDIA QUERIES  ------------------ */

@media only screen and (max-width: 900px) {

  .circle-nav-container {
    display: flex;
    position:absolute;
    bottom:0;
    width: 98vw;
    padding-right: 10px;
    padding-left: 10px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    z-index: 100;
  }

  .dotstyle ul {
  grid: repeat(1, 7vh)/repeat(13, 6.54vw);
  }

  p.team {
    font-family: maisonNeue-Mono;
    line-height: 200%;
    font-size: 0.7em;
    padding: 1em;
    background-color: black;
  }

  #team-blurb {
    grid-row: 3;
  }

  p.small {
    font-size: 0.5em;
    line-height: 250%;
    text-align: left;
  }

  #team-bio {
    grid-row: 3/5;
    grid-column: 6/20;
  }

  h1 {
    line-height: 100%;
  }
}

@media screen and (max-width: 42em) {
	// .wrap > div {
	// 	float: none;
	// 	width: 100%;
	// }
  //
	// .dotstyle:nth-child(4n),
	// .dotstyle:nth-child(4n-3) {
	// 	background-color: rgba(0, 0, 0, 0);
	// }
  //
	// .dotstyle:nth-child(odd) {
	// 	background-color: rgba(0, 0, 0, 0.05);
	// }
}


/* ------------------ INDIVIDUAL PHOTO STYLING  ------------------ */

#teamphoto-1 {
  width: 25em;
}

#teamphoto-2 {
  width: 32em;
  margin-left: 67%;
}

#teamphoto-3 {
  width: 25em;
  position: absolute;
  margin-left: 10%;
}

#teamphoto-4 {
  width: 20em;
  margin-left: 67%;
  margin-top: 30%;
  fill: purple;
}
