@import '../2-modules/layouts';
@import '../1-helpers/variables';
@import '../1-helpers/mixins';

/* ----- fonts ------ */
@font-face {
  font-family: hyperMarket;
  src: url(../../../fonts/hypermarket-regular.ttf);
  font-weight: bold;
}
/* ----- DD19 BRAND FONTS ------ */
@font-face {
  font-family: redaction;
  src: url(../../../fonts/Redaction-Regular.otf);
}
@font-face {
  font-family: redaction;
  src: url(../../../fonts/Redaction-Bold.otf);
  font-weight: bold;
  text-transform: capitalize;
}
@font-face {
  font-family: maisonNeue-Mono;
  src: url(../../../fonts/MaisonNeue-Mono.otf);
}


.grid-layout-container {
  display: grid;
  /* top row has adjustable space, then 13 even 6.67 vh rows*/
  /* left column has adjustable space, then 21 even 4.54 vw rows*/
  grid: repeat(13, $height-unit)/ 1fr repeat(21, $width-unit);
  grid-gap: none;
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
  padding: 0px;
  border: 1px solid white;
}

/* body */

html {
  max-height: 100vh;
  max-width: 100vw;
}

a {
  text-decoration: none;
}

a#home:hover {
  text-align: right;
}

a#current {
  border-bottom: 2px solid purple;
}

#back-btn {
  position: fixed;
  display: block;
  top: 1em;
  left: 1em;
  width: 10vw;
  z-index: 1;
  .home-dot {
    background-color: white;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }
  .home-dot:hover{
    background-color: purple;
  }
  p {
    display: none;
    font-family: hyperMarket;
    font-size: 0.9em;
    text-transform: uppercase;
    color: white;
  }
}

#back-btn:hover #home-text {
  display: inline-block;
  float: right;
  color: purple;
}

.home-dot {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
}

.wid-video-container{
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  margin: 0;
  video {
    max-width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .video-controls {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgb(15,15,5);
    width: 100%;
    height: 6vh;
    cursor: pointer;

    .progress {
      position: absolute;
      width: 100%;
      height: 9px;
      background-color: rgb(255,255,255,0.8);
      margin-bottom: 10px;
      top: 0;

      .vidbar {
        position: absolute;
        background-color: purple;
        height: 9px;
        width: 0;
      }
    }

    .timeblock {
      margin-top: 5px;

      div {
        display: inline-block;
        font-family: Maison Neue;
        font-size: 0.75em;
        color: $primary-green;
      }

      span {
        color: $primary-green;
      }
    }

    .vid-buttons {
      margin-top: 5px;
      margin-left: 2%;
      width: 6%;

      button {
        background: none;
        border: 0;
        outline: none;
        cursor: pointer;
        color: $primary-green;
        font-family: Maison Neue;
        font-size: 0.75em;
        text-transform: uppercase;
      }

      button.play:before {
        content: "PLAY";
        text-transform: capitalize;
      }

      button.pause:after {
        content: "PAUSE";
        text-transform: capitalize;
      }
    }

    .vid-buttons.fs {
      margin-left: auto;
      margin-right: 2%;
    }
  }
}

.blurb-container{
  position: absolute;
  top: -10vh;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  #blurb-header {
    text-align: center;
    font-size: 8.5vw;
    font-family: redaction;
    margin: 0;
  }
  #blurb-body {
    font-size: 3vw;
    margin: 2vh 10%;
    text-align: justify;
    margin: 0;
    width: 70%;
    margin: 0;
    font-family: redaction;
  }
}


.pause-cursor {
  cursor: url("../../../assets/images/pause.png") 15 20, auto;
}

.play-cursor {
  cursor: url("../../../assets/images/play.png") 20 20, auto;
}

.play-cursor.hoveraction {
  cursor: none;
}

.pause-cursor.hoveraction{
  cursor: none;
}

#nav-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20vh;
  display: grid;
  color: white;
  text-transform: uppercase;
  h3{
    padding: 0;
    margin: 0;
    margin-left: 5vw;
    font-family: hyperMarket;
  }

  #vid-markers{
    position: absolute;
    right: 10vw;
    display: grid;
    grid-template-columns: repeat(5, ($width-unit * 3));
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column dense;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    .vid-marker{
      font-family: hyperMarket;
      font-size: 1vw;
      margin-bottom: 0.35em;
      color: white;
    }
    .vid-marker:hover{
      background-color: $secondary-purp;
      color: white;
    }
  }
}


/* -----------circle nav ------------ */
