
/* ------------------- archive ------------------------------------- */
.archive-stack {
  width: 253px;
  height: 90vh;
  background-size: contain;
  background-position: center;
}

.year {
  margin-top: 85%;
}
