/* ------------------- wid ------------------------------------- */

.wid-container {
  border: 2px solid black;
  display: flex;
  position: relative;
  width: 400px;
  margin-left: 30%;
  margin-right: 30%;
}
