// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// ***********************
///  F O N T S
//************************
/// Regular font family
/// @type List
$font-regular: 'Redaction10', 'Hypermarket', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-medium: 'Redaction20', 'Hypermarket', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-bold: 'Redaction70', 'Hypermarket', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// ***********************
///  B R A N D    C O L O U R S
//************************
/// @type Color
$brand-color: rgb(229, 0, 80) !default;


// ***********************
///  C O N T A I N E R   L E N G T H S
//************************

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

// ***********************
///  B R E A K P O I N T S
//************************
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'mobile': 400px,
  'tablet': 768px,
  'laptop': 950px,
  'desktop' 1200px,
) !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
